{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block header_stuff %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">

                <div class="box bg-gray chat-item single-chat">
                    <div>
                        <h3>
                            {% trans 'Chat with' %}
                            {% if request.user != chat.guide %}
                                <a href="{% url 'guide_new' chat.guide.generalprofile.first_name chat.guide.generalprofile.uuid "new" %}">
                                    {% if chat.guide.generalprofile.first_name %}
                                        {{ chat.guide.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.guide.username }}
                                    {% endif %}
                                </a>
                                ({% trans 'guide' %})
                            {% elif request.user == chat.tourist and request.session.current_role != "guide" %}
                                <a href="{% url 'guide_new' chat.guide.generalprofile.first_name chat.guide.generalprofile.uuid "new" %}">
                                    {% if chat.guide.generalprofile.first_name %}
                                        {{ chat.guide.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.guide.username }}
                                    {% endif %}
                                </a>
                                ({% trans 'guide' %})
                            {% elif request.user == chat.guide %}
                                 <a href="{% url 'tourist' chat.tourist.generalprofile.uuid %}">
                                    {% if chat.tourist.generalprofile.first_name %}
                                        {{ chat.tourist.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.tourist.username }}
                                    {% endif %}
                                </a>
                                ({% trans 'tourist' %})
                            {% endif %}
                        </h3>
                    </div>

                    <div id="messages_area">
                        {% if chat_messages %}
                            {% for message in chat_messages %}
                                <div class="chat-message small">
                                    <div class="message-meta-info">
                                        {% if request.user.username == message.user__username %}
                                            me
                                        {% else %}
                                            {% if message.user__generalprofile__first_name %}
                                                {{ message.user__generalprofile__first_name }}
                                            {% else %}
                                                {{ message.user__username }}
                                            {% endif %}
                                        {% endif %}, {{ message.created|date:"m/d/Y H:i:s" }}
                                    </div>
                                    <div class="chat-message-text">
                                        {{ message.message|linebreaks }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="message-input-container">
                        <form id="chat_message_form" class="form" method="post" action="{% url 'sending_chat_message' %}">{% csrf_token %}
                            <input class="hidden" value="{{ chat_uuid }}" name="chat_uuid" id="chat_uuid">
                            <div class="form-group">
                                <textarea id="message_textarea" rows="3" class="form-control" name="message"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button id="chat_message_submit_btn" type="submit" class="btn btn-primary btn-lg">{% blocktrans %}Submit{% endblocktrans %}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-lg-offset-0">
                {% if form %}
                    <h3 class="text-center">
                        {% trans 'Order details' %}
                    </h3>
                    <div>
                        {% if order %}
                            {% if request.session.current_role == "guide" and request.user == tour.guide.user %}
                                {% with order.tour as tour %}
                                    {% if tour %}
                                        <div>
                                            <p>
                                                <b>{% trans "Tour" %}: </b>
                                                <a href="{% url 'tour_new' tour.slug tour.id 'new' %}"
                                                                              target="_blank">{{ tour.name }}
                                                    ({{ tour.hours }} {% if tour.hours == 1 %}{% trans 'hour' %}{% else %}{% trans 'hours' %}{% endif %})
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <div>
                                    <p>
                                        <b>{% trans "Status" %}: </b>{{ order.status.name }}
                                    </p>
                                </div>
                                {% if not order.is_approved_by_guide %}
                                    {% crispy form %}
                                {% else %}
                                    <p>
                                        <b>{% trans "Persons nmb" %}: </b>{{ order.number_persons }}
                                    </p>
                                    <p>
                                        <b>{% trans "Start at" %}: </b>{{ order.date_booked_for|date:"m/d/Y H:i" }}
                                    </p>
                                    {% if order.status.id == 1 %}
                                        <div class="mt20">
                                            <b>{% trans 'Waiting for tourist confirmation and payment reservation' %}</b>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% with order.tour as tour %}
                                    {% if tour %}
                                        <div>
                                            <p>
                                                <b>{% trans "Tour" %}: </b>
                                                <a href="{% url 'tour_new' tour.slug tour.id 'new' %}"
                                                                              target="_blank">{{ tour.name }}
                                                    ({{ tour.hours }} {% if tour.hours == 1 %}{% trans 'hour' %}{% else %}{% trans 'hours' %}{% endif %})
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                    <div>
                                        <p>
                                            <b>{% trans "Status" %}: </b>{{ order.status.name }}
                                        </p>
                                    </div>
                                    <div>
                                        {% if not tour %}
                                            <p>
                                                <b>{% trans "Hours" %}: </b>{{ order.hours_nmb }}
                                            </p>
                                        {% endif %}
                                        <p>
                                            <b>{% trans "Persons nmb" %}: </b>{{ order.number_persons }}
                                        </p>
                                        <p>
                                            <b>{% trans "Start at" %}: </b>{{ order.date_booked_for|date:"m/d/Y H:i" }}
                                        </p>
                                        {% if order.status.id == 1 %}
                                            {% if order.is_approved_by_guide  %}
                                                {% if request.session.current_role != "guide" and request.user == order.tourist.user %}
                                                    <div class="text-left">
                                                        <form method="post">{% csrf_token %}
                                                            <div class="form-group">
                                                                <p>
                                                                    {% trans 'Your guide has approved booking conditions.' %}
                                                                    {% trans 'Click the button below to go to checkout page.' %}
                                                                </p>
                                                                <div class="form-group">
                                                                    <input class="btn btn-success" type="submit" name="approve"
                                                                        value="{% trans 'Approve and checkout' %}">
                                                                </div>
                                                                {% trans 'or' %}
                                                                <div class="form-group mt10">
                                                                    <a href="{% url 'cancel_order' order.uuid %}"
                                                                        class="btn btn-danger">
                                                                        {% trans 'Cancel booking' %}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% endif %}
                                            {% elif order.status.id == 1 %}
                                                <div class="mt20">
                                                    <b>{% trans 'Waiting for guide confirmation' %}</b>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% elif order %}
                    {% with order.tour as tour %}
                        <h3 class="text-center">
                            {% trans 'Order details' %}
                        </h3>
                        {% if tour %}
                            <p>
                                <b>{% trans "Tour" %}: </b>
                                <a href="{% url 'tour_new' tour.slug tour.id 'new' %}"
                                                              target="_blank">{{ tour.name }}
                                    ({{ tour.hours }} {% if tour.hours == 1 %}{% trans 'hour' %}{% else %}{% trans 'hours' %}{% endif %})
                                </a>
                            </p>
                            <p>
                                <b>{% trans 'Type' %}: </b>{{ tour.type_name }}
                            </p>
                        {% endif %}

                        <p>
                            <b>{% trans "Status" %}: </b>{{ order.status.name }}
                        </p>
                        {% if not tour %}
                            <p>
                                <b>{% trans "Hours" %}: </b>{{ order.hours_nmb }}
                            </p>
                        {% endif %}
                        <p>
                            <b>{% trans "Persons nmb" %}: </b>{{ order.number_persons }}
                        </p>
                        <p>
                            <b>{% trans "Start at" %}: </b>{{ order.date_booked_for|date:"m/d/Y H:i" }}
                        </p>

                        {% if request.session.current_role == "guide" and request.user == order.guide.user %}
                            {% include 'orders/guide_orders_actions.html' %}
                        {% endif %}

                    {% endwith %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}


{% block js_stuff %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('#id_date_booked_for').datetimepicker({
            minDate: new Date(),
            format: 'MM/DD/YYYY HH:mm',
        });
    </script>
    <script src="{% static 'js/custom_scripts/chat_on_sockets.js' %}"></script>
{% endblock js_stuff %}
