{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block header_stuff %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div class="box bg-gray chat-item single-chat">
                    <div id="current_user_name">{{ request.user.generalprofile.get_name }}</div>
                    <div>
                        <h3>
                            {% trans 'Chat with' %}
                            {% if request.user != chat.guide %}
                                <a href="{% url 'guide_new' chat.guide.generalprofile.first_name chat.guide.generalprofile.uuid "new" %}">
                                    {% if chat.guide.generalprofile.first_name %}
                                        {{ chat.guide.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.guide.username }}
                                    {% endif %}
                                </a>
                                ({% trans 'guide' %})
                            {% elif request.user == chat.tourist %}
                                <a href="{% url 'guide_new' chat.guide.generalprofile.first_name chat.guide.generalprofile.uuid "new" %}">
                                    {% if chat.guide.generalprofile.first_name %}
                                        {{ chat.guide.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.guide.username }}
                                    {% endif %}
                                </a>
                                ({% trans 'guide' %})
                            {% elif request.user == chat.guide %}
                                 <a href="{% url 'tourist' chat.tourist.generalprofile.uuid %}">
                                    {% if chat.tourist.generalprofile.first_name %}
                                        {{ chat.tourist.generalprofile.first_name }}
                                    {% else %}
                                        {{ chat.tourist.username }}
                                    {% endif %}
                                </a>
                                ({% trans 'tourist' %})
                            {% endif %}
                        </h3>
                    </div>

                    <div id="messages_area">
                        {% if chat_messages %}
                            {% for message in chat_messages %}
                                <div class="chat-message small
                                    {% if message.user__username == "Tourzan bot" or message.user__username == "tourzan" %}system{% endif %}
                                ">
                                    <div class="message-meta-info">
                                        {% if request.user.username == message.user__username %}
                                            {% trans 'me' %}
                                        {% else %}
                                            {% if message.user__generalprofile__first_name %}
                                                {{ message.user__generalprofile__first_name }}
                                            {% else %}
                                                {{ message.user__username }}
                                            {% endif %}
                                        {% endif %}, {{ message.created|date:"m/d/Y H:i:s" }}
                                    </div>
                                    <div class="chat-message-text">
                                        {{ message.message|safe }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="message-input-container">
                        <form id="chat_message_form" class="form" method="post" action="{% url 'sending_chat_message' %}">{% csrf_token %}
                            <input class="hidden" value="{{ chat_uuid }}" name="chat_uuid" id="chat_uuid">
                            <div class="form-group">
                                <textarea id="message_textarea" rows="3" class="form-control" name="message"></textarea>
                            </div>
                            <div class="form-group text-right">
                                {% trans 'Press ctrl+Enter or "Submit" button to send a message' %}
                                <button id="chat_message_submit_btn" type="submit" class="btn btn-primary btn-lg">{% blocktrans %}Submit{% endblocktrans %}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                {% if not_scheduled_tour %}
                    <h3 class="text-center">
                        {% trans 'Order details' %}
                    </h3>
                    <div>
                        {% if order %}
                            <div class="row">
                                {% if not order.is_canceled %}
                                    {% if request.user == order.guide.user %}
                                        <div class="col-lg-4">
                                            {% include 'orders/guide_order_details.html' %}
                                        </div>
                                        <div class="col-lg-4">
                                            {% include 'orders/guide_order_payment_details.html' %}
                                        </div>
                                    {% else %}
                                        <div class="col-lg-4">
                                            {% include 'orders/tourist_order_details.html' %}
                                        </div>
                                        <div class="col-lg-4">
                                            {% include 'orders/tourist_order_payment_details.html' %}
                                        </div>

                                    {% endif %}
                                {% endif %}

                                <div class="col-lg-4">
                                    <div class="mb10"><b>{% trans 'Order actions' %}: </b></div>
                                    {% include 'orders/order_actions.html' %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% elif order %}
                    {% with order.tour as tour %}
                        <h3 class="text-center">
                            {% trans 'Order details' %}
                        </h3>
                        <p>
                            <b>{% trans "Order uuid" %}: </b>{{ order.get_last_uuid_symbols }}
                        </p>
                        {% if tour %}
                            <p>
                                <b>{% trans "Tour" %}: </b>
                                <a href="{% url 'tour_new' tour.slug tour.id 'new' %}"
                                                              target="_blank">{{ tour.name }}
                                    ({{ tour.hours }} {% if tour.hours == 1 %}{% trans 'hour' %}{% else %}{% trans 'hours' %}{% endif %})
                                </a>
                            </p>
                            <p>
                                <b>{% trans 'Type' %}: </b>{{ tour.type_name }}
                            </p>
                        {% endif %}

                        <p>
                            <b>{% trans "Status" %}: </b>{{ order.status.name }}
                        </p>
                        {% if not tour %}
                            <p>
                                <b>{% trans "Hours" %}: </b>{{ order.hours_nmb }}
                            </p>
                        {% endif %}
                        <p>
                            <b>{% trans "Persons nmb" %}: </b>{{ order.number_persons }}
                        </p>
                        <p>
                            <b>{% trans "Start at" %}: </b>{{ order.date_booked_for|date:"m/d/Y H:i" }}
                        </p>

                        {% if request.user == order.guide.user %}
                            {% include 'orders/guide_orders_actions.html' %}
                        {% endif %}

                    {% endwith %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}


{% block js_stuff %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('#id_date_booked_for').datetimepicker({
            minDate: new Date(),
            format: 'MM/DD/YYYY HH:mm',
            stepping: 15
        });
    </script>
    <script src="{% static 'js/custom_scripts/chat_on_sockets.js' %}"></script>
{% endblock js_stuff %}
