{% load static %}
{% load i18n %}
{% load utils_tags %}

<div class="row">
    {% for e in endorsements %}
        <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="text-center">
                <ul class="list-unstyled">
                    <a title="Endorsed by {{ e.name }}" href="{{ e.url }}" >
                        <img alt="{{ e.name }}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                             data-src="{{e.logo.url}}" style="width: 100px;" name="dimg">
{#                        <h5>{{ e.name }}</h5>#}
                    </a>
                </ul>
                </div>
        </div>
        {% if forloop.counter|divisibleby:5 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
</div>