{% load static %}
{% load i18n %}
{% load utils_tags %}

<div class="row">
    {% for p in partners %}
        <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="text-center">
                <ul class="list-unstyled">
                    <a title="Integration partner {{ p.name }}" href="{{ p.url }}" rel="nofollow">
                        <img alt="{{ p.name }}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                             data-src="{{p.logo.url}}" style="width: 100px; height: 100px;" name="dimg">
                        <h5>{{ p.name }}</h5>
                    </a>
                </ul>
                </div>
        </div>
        {% if forloop.counter|divisibleby:5 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
</div>