{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="modal fade modal-wide" id="modal_new_scheduled_tour" tabindex="-1" role="dialog"
         aria-labelledby="gridSystemModalLabel"
         aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>