{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="gap"></div>
            </div>

            <div class="col-lg-4 col-sm-12 col-xs-12 pull-right">

                {% include 'orders/payment_details.html' %}

                <div class="gap"></div>
            </div>

            <div class="col-lg-8 col-sm-12 col-xs-12">
                {% if order.payment_status.id == 2 or order.payment_status.id == 4 %}
                    <h3 class="text-center">{% trans 'Thank you' %}!</h3>
                    {% if not order.coupon and not order.discount > 0 and not order.tour.is_free %}
                        <h5 class="text-center">{% trans 'The payment has been successfully reserved' %}</h5>
                        <script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>
                        <script>
                          window.renderOptIn = function() {
                            window.gapi.load('surveyoptin', function() {
                              window.gapi.surveyoptin.render(
                                {
                                  "merchant_id": 133867904,
                                  "order_id": {{ order.uuid }},
                                  "email": {{ tourist_email }},
                                  "delivery_country": {{ order.guide.city.country }},
                                  "estimated_delivery_date": {{ order.date_booked_for }}
                                });
                            });
                          }
                        </script>
                    {% else %}
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <a class="btn btn-default" href="{% url 'payments' %}">
                                    {% trans 'Go to Payments Page' %}
                                </a>
                                 <a class="btn btn-primary" href="{% url 'chat_creation_order' order.uuid %}">
                                    {% trans 'Go to chat' %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if not user_payment_method and not illegal_country %}
                        <div class="well">
                            {% blocktrans %}
                                You do not have any connected payment method. Please add at least one
                            {% endblocktrans %}
                            <a href="{% url 'payment_methods_adding' %}" class="btn btn-primary btn-sm">
                                {% blocktrans %}here{% endblocktrans %}
                            </a>
                        </div>
                    {% else %}
                        {% if illegal_country %}
                            <h4>
                                {% blocktrans %}
                                    This is a mutual agreement and not a purchase.
                                {% endblocktrans %}
                            </h4>
                            <p>
                                {% blocktrans %}
                                    In order to provide a mutual agreement the guide must be identity verified.
                                    Mutual agreements are to let Tourzan.com connect travelers to local guides in areas
                                    our payments processor does not serve. Because money exchanges directly between
                                    traveler and the guide or business, mutual agreements are not covered under our
                                    insurance and assurances.
                                {% endblocktrans %}
                            </p>
                            <br><br>
                        {% else %}
                            <div class="text-center">
                                <form class="" method="post" >{% csrf_token %}
                                    <div class="form-group">
                                        <h3>{% trans 'Please click a button below to confirm your booking' %}</h3>
                                    </div>
                                    <div class="mb10">
                                        <p>
                                            {% trans 'The needed amount will be reserved on your card using your default payment method.' %}
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Confirm' %}</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_stuff %}
  <script>
    $("#coupon_apply_form").on("submit", function (e) {
        e.preventDefault();
        data = {};
        var csrf_token = $('#csrf_getting_form [name="csrfmiddlewaretoken"]').val();
        data["csrfmiddlewaretoken"] = csrf_token;
        data["coupon"] = $("#coupon_id").val();
        data["order_id"] = {{ order.id }};
        var url = $(this).attr("action");

        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            cache: true,
            success: function (data) {
              if (data.result == "success"){
                  location.reload()
              }
              else if (data.is_used === "invalid") {
                  $('#coupon_status').text('Coupon is invalid').addClass("text-error");
              }
              else if (data.is_used === 'True') {
                  $('#coupon_status').text('Coupon has already been used').addClass("text-error");
              }
            },
            error: function(){
                console.log("error");
            }
        });

    });

  </script>
{% endblock js_stuff %}