#form_tour_scheduling{
    padding: 5px 10px;
}

.mini-container{
    margin: 5px;
}

.btn-booking{
    margin-top: 15px;
}

#amount_container{
    margin-top: 10px;
}

.booking-item-dates-change{
    position: relative;
}

.booking-result-message{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
}

.tour-booking-price{
    font-size: 30px;
}

.booking-item-title{
    font-size: 20px;
}

.tour-name{
    font-size: 20px;
}

.tour-guide-name{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
}

.tour-price, .tour-rating{
    font-size: 16px;
    margin-bottom: 5px;
}

.chat-container{
    margin: 10px 0;
    padding: 10px;
}

.chat-item{
    margin-bottom: 10px;
}

.chat-item.single-chat{
    margin-top: 10px;
}

.chat-message{
    margin: 10px 0;
    padding: 5px 10px 15px 10px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-align: left!important;
}

/*.chat-message.small{*/
    /*width: 48%;*/
/*}*/


.message-meta-info{
    font-size: 12px;
    font-style: italic;
}

.chat-message-text{
    padding-left: 3px;
    font-size: 14px;
}

#chat_message_form textarea{
    width: 100%;
}

#messages_area{
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 10px;
}
