#form_tour_scheduling{
    padding: 5px 10px;
}

.mini-container{
    margin: 5px;
}

.btn-booking{
    margin-top: 15px;
}

#amount_container{
    margin-top: 10px;
}

.booking-item-dates-change{
    position: relative;
}

.booking-result-message{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
}

.tour-booking-price{
    font-size: 14px;
}

.booking-item-title{
    font-size: 20px;
}

.tour-name, .item-name{
    font-size: 20px;
}

.tour-guide-name{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
}

.tour-price, .tour-rating, .guide-rate, .guide-rating{
    font-size: 16px;
    margin-bottom: 5px;
}

.chat-container{
    margin: 10px 0;
    padding: 10px;
}

.chat-item{
    margin-bottom: 10px;
}

.chat-item.single-chat{
    margin-top: 10px;
}

.chat-message{
    margin: 10px 0;
    padding: 5px 10px 15px 10px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-align: left!important;
}

/*.chat-message.small{*/
    /*width: 48%;*/
/*}*/


.message-meta-info{
    font-size: 12px;
    font-style: italic;
}

.chat-message-text{
    padding-left: 3px;
    font-size: 14px;
}

#chat_message_form textarea{
    width: 100%;
}

#messages_area{
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 10px;
}

.alert-general{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    opacity: 1;
    z-index: 5000;
}

.user-profile-sidebar .user-profile-nav > li.active > a {
    cursor: pointer;
}

.guide-image-small{
    height: 200px;
    width: auto;
}

.label-sm {
  font-size: 12px;
}

.label-md {
  font-size: 16px;
}

.label-lg {
  font-size: 20px;
}

.top-menu{
    text-align: center;
}

.select2-selection.select2-selection--multiple,
.select2-selection__choice{
    color: black;
}

.label-tag{
    margin-right: 5px;
}

.header-white{
    background-color: white;
}

.header-white .top-user-area .top-user-area-list > li > a{
    color: black;
}

.navbar-logo{
    width: 50px!important;
}

.logo-md{
    width: 90px;
}

.logo-lg{
    width: 150px;
}

.footer-logo{
    width: 100px!important;
}

.form-error-text{
    color: red;
}

.alert{
    z-index: 1000;
}

.navbar-logo{
    padding: 0;
}

.no-padding{
    padding: 0;
}

.navbar-logo-text{
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.navbar-logo-text a,
.navbar-logo-text a:hover{
    color: #31dc72;
}
