{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block sub-content %}
<h1>{% trans "Sign Up" %}</h1>

<strong>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</strong>

<p>
    {% blocktrans %}
    You may be authenticated, using social networks or sign in/sign up using username and password
    {% endblocktrans %}
</p>
<div class="text-center">
    <a title="Facebook" class="btn btn-default btn-facebook"
       {% if request.GET.next and request.GET.next|length > 4 %}
           href="{% provider_login_url "facebook" method="oauth2"  next=request.GET.next %}"
       {% else %}
            href="{% provider_login_url "facebook" method="oauth2" next="/after_login_router/" %}"
       {% endif %}
    >
        <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
    </a>
</div>

{% crispy form %}

{% endblock %}