{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load utils_tags %}


{% block content %}
    {% if countries|length > 0 %}
        <div class="container container-equal-items mt20">
            <div class="row">
                <div class="col-lg-12">
                    <h3>{% trans 'Select a country of your destination' %}</h3>
                </div>
                {% for country in countries %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <a href="{% url 'country_guides' country.slug %}" target="_blank">
                                        <img src="{% get_sized_image country "small" %}">
                                    </a>
                                </div>
                                <div class="mt10">
                                    <h4 class="text-center">
                                        {{ country.name }}
                                    </h4>
                                    <div class="mb10">
                                        {% with country.get_cities as cities %}
                                        {% if cities %}
                                            <b>{% trans 'Available cities' %}: </b>
                                            {% for city in country.get_cities %}
                                                <a href="{% url 'city_guides' city.country.slug city.slug %}" target="_blank">
                                                    {{ city.name }}{% if not forloop.last %}, {% endif %}
                                                </a>
                                            {% endfor %}
                                        {% else %}
                                            {% trans 'We are looking for guides in' %} {{ country.name }}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div>
                                        {{ country.description|safe|linebreaks|truncatewords_html:20 }}
                                    </div>
                                </div>
                            </div>
                             <div class="text-center panel-button">
                                <a class="btn btn-default"
                                    href="{% url 'country_guides' country.slug %}" target="_blank"
                                >
                                    {% trans 'View details' %}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}