{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}


{% block content_profile %}
<div class="col-md-9">
    <h3 class="text-center">{% trans 'Verification' %}</h3>
    <div class="row">
        <div class="col-lg-12 text-center">

        </div>
        {% if general_profile.is_verified %}
            <h3>{% trans 'Your profile has been verified' %}</h3>
        {% else %}
            <h3>{% trans 'Your profile verification is pending' %}.</h3>
            <p>{% trans 'You will see here a confirmation, as soon as it will be verified ' %}</p>
        {% endif %}
{#        <div class="col-lg-6 text-center">#}
{#            <a href="{% url 'identity_verification_ID_uploading' %}" class="btn btn-success">{% trans 'ID scan uploading' %}</a>#}
{#        </div>#}
{#        <div class="col-lg-6 text-center">#}
{#            <a href="{% url 'identity_verification_photo' %}" class="btn btn-success">{% trans 'Live photo' %}</a>#}
{#        </div>#}
    </div>
</div>
{% endblock content_profile %}


{% block js_stuff %}
{% endblock js_stuff %}