{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}


{% block header_stuff %}
    <!-- Event snippet for verification completed conversion page -->
    <script>
    gtag('event', 'conversion', {'send_to': 'AW-855709588/1wBYCIyw3XkQlK-EmAM'});
    </script>
{% endblock %}


{% block content_profile %}
<div class="col-md-9">
    <h3 class="text-center">{% trans 'Verification' %}</h3>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="well">
                {% if general_profile.is_verified %}
                    <h3>{% trans 'Your profile has been verified' %}</h3>
                    <p>
                        {% trans 'We are running the report in the background. if it comes back as fuzzy or rejected, ' %}
                        {% trans 'you will no longer be verified and will have to redo your verification' %}
                    </p>
                {% else %}
                    <h3>{% trans 'Your verification results came up fuzzy we need you to resubmit proper information' %}.</h3>
                    <p>
                        {% trans 'One possible reason for this is that tourzan probationally verifies all users. ' %}
                        {% trans 'Till the results of the verification come back. it could be that your documents or picture were not clear enough. ' %}
                        <br><br>
                        {% trans 'Please send an email to' %} <a href="emailto:contactus@tourzan.com">contactus@tourzan.com</a> {% trans 'to reset this page or request a review' %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content_profile %}


{% block js_stuff %}
{% endblock js_stuff %}