{% load static %}
<div class="mfp-with-anim mfp-hide mfp-dialog" id="managing_photo_modal">
    <h3 class="mb0">Adding Image</h3>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="form-group">
            <label>Select your image file</label>
            <input type="file" multiple name="{{ form.image.html_name }}">
        </div>


        <div class="form-group text-right">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>

    </form>
</div>