{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="page-title">About Us</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-bigger">{{ about_us.text |safe }}</p>
            </div>
        </div>
        <div class="gap"></div>
    </div>
    <div class="bg-holder">
        <div class="bg-parallax" style="background-image:url(img/1280x852.png);"></div>
        <div class="bg-mask"></div>
        <div class="bg-holder-content">
            <div class="container">
                <div class="gap gap-big text-white">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Live in the moment.</h2>
                            <p class="text-bigger">
                                We at tourzan live in the moment. We were founded on the idea that travel is best when with a local to guide you and show you their home.
                                We are just like you and want to see the world, relax, learn and explore.
                                Our founder created this site with that in mind. The intent to bring you the best possible experience that you simply can not replicate elsewhere.
                                Its a unique localized feel. We are small but well connected global community and growing rapidly.
                                </br>
                                From Seattle to Singapore there is so much to be seen and so many new things to learn.
                                We hope you will live in the moment with us and tell others of the wonderful experience Tourzan.com brought you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




