{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="page-title">About Us</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="text-bigger">Felis turpis nostra arcu tempus rutrum hac ullamcorper torquent volutpat pellentesque adipiscing ut elementum sollicitudin sodales congue quam rutrum habitant accumsan elit scelerisque accumsan proin varius purus scelerisque taciti nam</p>
                <p class="text-bigger">Venenatis diam malesuada faucibus euismod congue eleifend ultricies bibendum augue dapibus nostra diam amet tincidunt commodo ullamcorper lorem maecenas nibh</p>
            </div>
        </div>
        <div class="gap"></div>
    </div>
    <div class="bg-holder">
        <div class="bg-parallax" style="background-image:url(img/1280x852.png);"></div>
        <div class="bg-mask"></div>
        <div class="bg-holder-content">
            <div class="container">
                <div class="gap gap-big text-white">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Work hard. Play hard.</h2>
                            <p class="text-bigger">Scelerisque ornare ante pellentesque id ad eget volutpat consequat aptent lacus penatibus consectetur vivamus magnis ornare venenatis mattis rhoncus interdum quam tempor commodo ultrices augue risus senectus ornare aliquam leo rutrum nam duis nisi fringilla convallis praesent libero faucibus fermentum convallis pretium aptent nisl morbi odio justo vel nascetur tristique pulvinar senectus etiam quam taciti dignissim etiam tincidunt cras molestie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




