{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h1 class="page-title">{% blocktrans %}Contact Us{% endblocktrans %}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p>Inceptos hac sagittis sit elit primis iaculis arcu quam justo per primis tempus ad iaculis cursus condimentum nullam pretium dui id sit lacus duis dignissim primis potenti aliquam malesuada ullamcorper</p>
                <p>Euismod volutpat risus luctus id varius volutpat adipiscing porttitor egestas nisl nunc luctus phasellus nibh tristique lacinia penatibus justo urna</p>
                <form class="mt30">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% blocktrans %}Name{% endblocktrans %}</label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% blocktrans %}E-mail{% endblocktrans %}</label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% blocktrans %}Message{% endblocktrans %}</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Send Message" />
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <aside class="sidebar-right">
                    <ul class="address-list list">
                        <li>
                            <h5>{% blocktrans %}Email{% endblocktrans %}</h5><a href="#">support@tourzan.com</a>
                        </li>
                        <li>
                            <h5>{% blocktrans %}Phone Number{% endblocktrans %}</h5><a href="#">+1 (426) 642-8525</a>
                        </li>
                        <li>
                            <h5>Skype</h5><a href="#">hello_tourzan</a>
                        </li>
                        <li>
                            <h5>{% blocktrans %}Address{% endblocktrans %}</h5>
                            <address>
                                Tourzan Ltd.<br />1355 Market St, Suite 900<br />
                                San Francisco, CA 94103<br />United States<br />
                            </address>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}




