{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1 class="page-title">{% blocktrans %}Frequently Asked Questions{% endblocktrans %}</h1>
    </div>
    <div class="bg-holder">
        <div class="bg-parallax" style="background-image:url(img/1280x852.png);"></div>
        <div class="bg-mask"></div>
        <div class="bg-holder-content">
            <div class="container">
                <div class="gap gap-big text-white">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{% blocktrans %}What are you?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Tourzan.com is a middle man listing service to help bring people together and experience the world in the way a local sees it.
                                {% endblocktrans %}
                            </p>
                            <h3>{% blocktrans %}How does this work?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    When you want to travel somewhere you look up that city, and pair your interests to that of a genuine local.
                                    from there you can adjust price points, services. You are encouraged to massage each other.
                                    when you book out a guide you are forming a contract via the Tourzan platform.
                                    What Tourzan is responsible for past this point is laid out in the terms of service.
                                    The guide is encouraged to keep in contact with you and to arrange the meeting.
                                    From there it's adventure and excitement. Enjoy your trip, experience something new!
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}Is this safe?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Meeting new people can sometimes can be a little nerve racking.
                                    This is why tourzan.com requires identity verification on all local guides before they become validated and
                                    are listed without restriction on the webservice. We collect photo ID and a real time photo and our system validates them.
                                    Additionally, all users can opt for trusted status by linking social media, verifying their address and phone number.
                                    Should many complaints arise, any user may undergo a complete background check before continuing the use of this service.
                                    Another layer of security is in place by our payouts processor who checks against known watch lists before allowing a guide to on-board.
                                    To top off everything else we also have a $1,000,000 liability insurance policy
                                    in case you get substantially hurt as a result of using our service.
                                    We take pride in our integrity and reputation and your safety is part of that.
                                {% endblocktrans %}
                            </p>
                        <br/>
                            <h3>{% blocktrans %}Is my credit/debt card and bank account info secure?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Secure is an understatement. We are working with two companies who maintain our PCI compliance.
                                    We use Braintree payments, a paypal company for processing inbound payments and Payment Rails for outbound payments.
                                    The complete card and bank info is never stored on our servers,
                                    what we do store is heavily encrypted and only for identifying your account to the payment processors system
                                    we have cross-site scripting, cross-site request forgery, click jacking, and sql injection preventive measures
                                    and protections in place preventing hackers from getting your info.
                                    We also use SSL/TLS encryption to make sure your personal info cant be sniffed out of the air.
                                    <br/><br/>
                                    Simply put your data is incredibly safe with us.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}I am a guide, when do I get paid?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    After the 5 day grace period has passed payouts are initiated on the 1st and the 15th of the month Pacific Standard Time.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}What is the 5 day grace period?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    The five day grace period is a timeframe in wich we hold the completed order from processing as a payout.
                                    This is a liability time period for tourzan.
                                    This is the timeframe which a tourist or guide can raise any concerns or complaints about the experience.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}I have an issue with a guide/tourist{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Please send an email to contactus@tourzan.com with the subject "complaint regarding tourist/guide"
                                    in the email please include the type of user, if you can a link to their profile (if not their username),
                                    and the nature of the complaint as well as details regarding the complaint.
                                    you may also use the contact form on our contact us page.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




