{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1 class="page-title">{% blocktrans %}Frequently Asked Questions{% endblocktrans %}</h1>
    </div>
    <div class="bg-holder">
        <div class="bg-parallax" style="background-image:url(img/1280x852.png);"></div>
        <div class="bg-mask"></div>
        <div class="bg-holder-content">
            <div class="container">
                <div class="gap gap-big text-white">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{% blocktrans %}What are you?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Tourzan.com is a peer to peer market-service and platform to let tour guides and
                                    tour companies simplify their needs by providing an all in one platform for their
                                    company. We help bring people together and our goal is to provide the best
                                    experience with a real professional local.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}Whats the benefits of booking through Tourzan.com?{% endblocktrans %}</h3>
                            <ul class="text-bigger">
                                <li>{% blocktrans %}Peace of mind. Every guide that can book through us have been verified and vetted{% endblocktrans %}</li>
                                <li>{% blocktrans %}We act as an extra layer of reassurance and handle any issues that might come up for you.{% endblocktrans %}</li>
                                <li>{% blocktrans %}With our social media like profiles, guides can know you better before they meet you.{% endblocktrans %}</li>
                                <li>{% blocktrans %}We make the experience more personal.{% endblocktrans %}</li>
                                <li>{% blocktrans %}We are the most secure marketplace on the internet.{% endblocktrans %}</li>
                                <li>{% blocktrans %}All orders processed through Tourzan.com are covered under our $2 million dollar insurance policy.
                                    In the unlikely event you get hurt as a result of the tour you went on, just know that we got your back.{% endblocktrans %}</li>
                            </ul>
                            <br/>
                            <h3>{% blocktrans %}Whats the benefits of listing on Tourzan.com?{% endblocktrans %}</h3>
                            <ul class="text-bigger">
                                <li>{% blocktrans %}It is 100% free to list and advertise your self or business.{% endblocktrans %}</li>
                                <li>{% blocktrans %}We help with initial marketing for all new profiles{% endblocktrans %}</li>
                                <li>{% blocktrans %}Fully featured dashboard for creating, managing, maintaining relationships and bookings{% endblocktrans %}</li>
                                <li>{% blocktrans %}We can act as a total replacement for your standard paid web-front.{% endblocktrans %}</li>
                                <li>{% blocktrans %}Integration services for re-listing tourzan's offerings in other web-services. Giving you greater visibility{% endblocktrans %}</li>
                                <li>{% blocktrans %}We are Fee per order service so there is no membership or expenses needing to be paid. Ever.{% endblocktrans %}</li>
                                <li>{% blocktrans %}All orders processed through Tourzan.com are covered under our $2 million dollar insurance policy for both parties.{% endblocktrans %}</li>
                            </ul>
                            <br/>
                            <h3>{% blocktrans %}How does this work?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    When you want to travel somewhere, you look up that city and pair your interests to that of a genuine
                                    local. From there you can adjust price points and services. You are encouraged to message each other.
                                    When you book a guide, you are forming a contract via the Tourzan platform. What Tourzan is
                                    responsible for past this point is laid out in the terms of service. The guide is encouraged to keep in
                                    contact with you and to arrange your meeting. From there it’s adventure and excitement. Enjoy your
                                    trip and experience something new!
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}Is this safe?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Meeting new people can sometimes can be a little nerve racking.
                                    This is why tourzan.com requires identity verification on all local guides before they become validated and
                                    are listed without restriction on the webservice. We collect photo ID and a real time photo and our system validates them.
                                    Additionally, all users can opt for trusted status by linking social media, verifying their address and phone number.
                                    Should many complaints arise, any user may undergo a complete background check before continuing the use of this service.
                                    Another layer of security is in place by our payouts processor who checks against known watch lists before allowing a guide to on-board.

                                    To top off everything else we also have a $2 million dollar insurance policy
                                    in case you get hurt as a result of using our service.
                                    We take pride in our integrity and reputation and your safety is part of that.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}Is my credit/debt card and bank account info secure?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Secure is an understatement. We are working with two companies who maintain our PCI compliance.
                                    We use Braintree payments, a paypal company for processing inbound payments and Payment Rails for outbound payments.
                                    The complete card and bank info is never stored on our servers,
                                    what we do store is heavily encrypted and only for identifying your account to the payment processors system
                                    we have cross-site scripting, cross-site request forgery, click jacking, and sql injection preventive measures
                                    and protections in place preventing hackers from getting your info.
                                    We also use SSL/TLS encryption to make sure your personal info cant be sniffed out of the air.
                                    <br/><br/>
                                    Simply put your data is incredibly safe with us.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}What are the fees?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Tourzan.com has a service fee of 13%. This fee pays for the ongoing development of the platform,
                                    allows us to provide insurance on all tours globally, keeps the servers running
                                    and keeps us providing the service you expect from us.

                                    We will never have a monthly subscription like other services this means
                                    we are successful when you are. Lastly, our payouts provider may charge a
                                    processing fee depending on the country and payout methods chosen.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}I am a guide, when do I get paid?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    After the 5 day grace period has passed payouts are initiated on the 1st and the 15th of the month Pacific Standard Time.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}What is the 5 day grace period?{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    The five day grace period is the timeframe in which we hold the completed order from processing as a
                                    payout. This is a liability time period for Tourzan. It is the timeframe in which a tourist or guide can raise
                                    any concerns or complaints about the experience.
                                {% endblocktrans %}
                            </p>
                            <br/>
                            <h3>{% blocktrans %}I have an issue with a guide/tourist{% endblocktrans %}</h3>
                            <p class="text-bigger">
                                {% blocktrans %}
                                    Please send an email to <a href="mailto:contactus@tourzan.com">contactus@tourzan.com</a>
                                    with the subject, “complaint regarding tourist/guide.”
                                    Please include the type of user you encountered and if you can a link to their
                                    profile, (if not, send us their username.) Also, send us the nature of the
                                    complaint along with the details regarding the complaint.
                                    You may also use the contact form on our contact us page.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}