<!DOCTYPE html>
<html lang="en" style="height: 90%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="height: 100%">
    <div style="background-color: yellow">
        <h3>Some website header</h3>
    </div>
{#    height below should be adjusted to avoid double-scrolling on the page#}
    <iframe src="{% url 'guides' %}?ref_id=334186d9628c4db8b211b232cbd53056" style="border: none; height: 80%; width: 100%;"></iframe>
    <div style="background-color: yellow">
        <h3>Some website footer</h3>
    </div>
</body>
</html>