{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load stars_rating %}


{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}


{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">{% blocktrans %}Home{% endblocktrans %}</a>
            </li>
            <li><a href="/">Some country</a>
            <li><a href="/">{{ guide.city.name }}</a>
            </li>
            <li class="active">{{ guide.user.username }}</li>
        </ul>

        <div class="booking-item-details">
            <header class="booking-item-header">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="lh1em">
                            {% if guide.user.first_name %}
                                {{ guide.user.first_name }} {{ guide.user.last_name }} ({{ guide.user.username }})
                            {% else %}
                                {{ guide.user.username }}
                            {% endif %}
                        </h2>

                        {% if guide == request.user.guideprofile and request.session.current_role == "guide"%}
                            <a href="{% url 'settings_router' %}">
                                 {% blocktrans %}Go to Settings{% endblocktrans %}
                             </a>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-7">
                     <div class="row">
                        <div class="col-md-5">
                            {% if guide.profile_image %}
                                <img src="{{ guide.profile_image.url }}" class="img-responsive">
                            {% endif %}
                            <div class="mt10 text-center">
                                {% if guide == request.user.guideprofile %}
                                    <a href="{% url 'chat_creation_guide' guide.id %}"
                                       class="btn btn-default btn-sm" disabled="">
                                        {% blocktrans %}Send Message{% endblocktrans %}
                                    </a>
                                {% else %}
                                    {% if current_order.status.id == 5 %}
                                        <a class="btn btn-primary btn-sm popup-text btn-order-review" href="#writing_feedback_modal"
                                        data-effect="mfp-zoom-out" data-order_id="{{ current_order.id }}">
                                            {% blocktrans %}Write Review{% endblocktrans %}
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'chat_creation_guide' guide.id %}" class="btn btn-default btn-sm">{% blocktrans %}Send Message{% endblocktrans %}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-7">
                            {% if guide.overview %}
                                <p>{{ guide.overview|linebreaks }}</p>
                            {% else %}
                                <p>{% blocktrans %}Some description will be here{% endblocktrans %}</p>
                            {% endif %}
                            <div>
                                <hr>
                                <b>{% blocktrans %}Interests: {% endblocktrans %}</b><br>
                                {% if guide.user.userinterest_set.all %}
                                    {% for item in guide.user.userinterest_set.all %}
                                        <span class="label label-default label-tag">
                                            {{ item.interest.name }}
                                        </span>
{#                                        {{ item.interest.name }}{% if not forloop.last %}, {% endif %}#}
                                    {% endfor %}
                                {% else %}
                                    <p>{% blocktrans %}No interests{% endblocktrans %}</p>
                                {% endif %}
                            </div>

                            <div class="services_area">
                                <hr>
                                <b>{% blocktrans %}Services: {% endblocktrans %}</b><br>
                                {% if guide_services %}
                                    {% for guide_service in guide_services %}
                                        <span class="label label-default label-tag">
                                            {{ guide_service.service.name }}
                                        </span>
                                    {% endfor %}
                                {% else %}
                                    <p>{% blocktrans %}No additional services...{% endblocktrans %}</p>
                                {% endif %}
                            </div>
                        </div>
                     </div>

                </div>
                <div class="col-md-5">
                    <div class="booking-item-meta">
                        <h2 class="lh1em">{% blocktrans %}Great!{% endblocktrans %}</h2>
                        <h3>
                            {% if guide.orders_with_review_rate == 100.00 %}
                                {{ guide.orders_with_review_rate|floatformat }}%
                            {% else %}
                                {{ guide.orders_with_review_rate }}%
                            {% endif %}
                            <small>
                                {% blocktrans %}of tours were reviewed {% endblocktrans %}
                            </small>
                        </h3>
                        <div class="booking-item-rating">
                            <ul class="icon-list icon-group booking-item-rating-stars">
                                {{ guide.rating|rendering_stars|safe }}
                            </ul>
                            <span class="booking-item-rating-number">
                                <b>{{ guide.rating }}</b>
                                of 5
                                <small class="text-smaller">{% blocktrans %}rating{% endblocktrans %}</small>
                            </span>
                            <p>
                                <a class="text-default" href="#">
                                    {% blocktrans %}based on{% endblocktrans %} {{ guide.orders_with_review_nmb }}
                                    {% if guide.orders_with_review_nmb == 1 %}
                                        {% blocktrans %}review{% endblocktrans %}
                                    {% else %}
                                        {% blocktrans %}reviews{% endblocktrans %}
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="booking-item-dates-change">
                        <div class="booking-result-message alert hidden">
                            <button type="button" class="close close-alert" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="message-text"></div>
                        </div>

                        {% if current_order %}
                            <div class="text-center">
                                <h4 class="text-center">
                                    {% blocktrans %}You have already booked this guide{% endblocktrans %}
                                </h4>
                                <a href="" id="book_more">{% blocktrans %}book more{% endblocktrans %}</a>
                                or
                                <a href="{% url 'my_bookings' %}?guide={{ guide.user.username}}">{% blocktrans %}Edit{% endblocktrans %}</a>
                            </div>
                        {% endif %}

                        <div id="booking_form_area" class="{% if current_order %}hidden{% endif %}">
                            <form method="get" id="form_guide_scheduling"
                                class="form-horizontal"
                                action="{% url 'making_booking' %}"
                            >{% csrf_token %}

                                <input class="hidden" value="{{ guide.id }}" name="guide_id">

                                <div class="input-daterange" data-date-format="mm.dd.yyyy">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon"></i>
                                                <label>{% blocktrans %}Booking a tour date:{% endblocktrans %}</label>
                                                <input class="form-control" name="start" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% if guide_services %}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <label>Select additional services</label>
                                                <select multiple class="form-control"
                                                    id="additional_services_select"
                                                    name="additional_services_select"
                                                >
                                                    {% for guide_service in guide_services %}
                                                        <option value="{{ guide_service.id }}">
                                                            {{ guide_service.service.name }} -
                                                            {% if guide_service.price == 0 %}
                                                                free
                                                            {% else %}
                                                                {{ guide_service.price }}USD
                                                            {% endif %}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group- form-group-select-plus">
                                            <label>{% blocktrans %}Persons nmb:{% endblocktrans %}</label>
                                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />1</label>
                                                <label class="btn btn-primary active">
                                                    <input type="radio" name="options" />2</label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />3</label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />4</label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />4+</label>
                                            </div>
                                            <select class="form-control hidden">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option selected="selected">5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group- form-group-select-plus">
                                            <label>{% blocktrans %}Hours nmb:{% endblocktrans %}</label>
                                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                <label class="btn btn-primary hours-nmb">
                                                    <input type="radio" name="options" value="1"/>1</label>
                                                <label class="btn btn-primary hours-nmb active">
                                                    <input type="radio" name="options" value="2" />2</label>
                                                <label class="btn btn-primary hours-nmb">
                                                    <input type="radio" name="options" value="3" />3</label>
                                                <label class="btn btn-primary hours-nmb">
                                                    <input type="radio" name="options" value="4" />4</label>
                                                <label class="btn btn-primary hours-nmb">
                                                    <input type="radio" name="options" />4+</label>
                                            </div>
                                            <select class="form-control hidden" id="booking_hours" name="booking_hours">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected="selected">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                     <button type="submit"
                                         class="btn btn-primary btn-lg submit-button">
                                            {% blocktrans %}Book Now{% endblocktrans %}
                                     </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="gap gap-small"></div>

            <div class="row row-wrap">
                <div class="col-md-8">
                    <h3 class="mb20">{% blocktrans %}Reviews{% endblocktrans %}</h3>
                    {% if reviews %}
                        <ul class="booking-item-reviews list">
                            {% for review in reviews %}
                                {% include 'users/review_representation_guide.html' %}
                            {% endfor %}
                         </ul>
                    {% else %}
                        <p>{% blocktrans %}No reviews so far...{% endblocktrans %}</p>
                    {% endif %}

                    {% if reviews.has_other_pages %}
                        <div class="row wrap">
                            <div class="col-md-5">
                                <p>
                                    <small>{{ reviews_total_nmb }} {% blocktrans %}reviews for this guide{% endblocktrans %}.</small>
                                </p>
                            </div>
                            <div class="col-md-7">
                                <ul class="pagination">
                                    {% if reviews.has_previous %}
                                        <li class="next"><a href="?page={{ reviews.previous_page_number }}">Previous Page</a>
                                        </li>
                                    {% endif %}
                                    {% for i in reviews.paginator.page_range %}
                                        {% if reviews.number == i %}
                                            <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                          {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                          {% endif %}
                                    {% endfor %}
                                    {% if reviews.has_next %}
                                        <li class="next"><a href="?page={{ reviews.next_page_number }}">Next Page</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

{#                    <div class="gap gap-small"></div>#}
{#                    <div class="box bg-gray" id="write_review">#}
{#                        {% if not user.is_authenticated %}#}
{#                           <p>Please  <a href="/login?next={{ request.path }}">{% blocktrans %}login {% endblocktrans %}</a> {% blocktrans %}to leave a review{% endblocktrans %}</p>#}
{#                        {% else %}#}
{#                            <h3>{% blocktrans %}Write a Review{% endblocktrans %}</h3>#}
{#                            <form method="post">{% csrf_token %}#}
{#                                <div class="row">#}
{#                                    <div class="col-md-8">#}
{#                                        <div class="form-group">#}
{#                                            <label>{% blocktrans %}Review Title{% endblocktrans %}</label>#}
{#                                            <input class="form-control" type="text" name="name" />#}
{#                                        </div>#}
{#                                        <div class="form-group">#}
{#                                            <label>{% blocktrans %}Review Text{% endblocktrans %}</label>#}
{#                                            <textarea class="form-control" rows="6" name="text"></textarea>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-4">#}
{#                                        <ul class="list booking-item-raiting-summary-list stats-list-select">#}
{#                                            <li>#}
{#                                                <div class="booking-item-raiting-list-title">Sleep</div>#}
{#                                                <ul class="icon-group booking-item-rating-stars">#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="booking-item-raiting-list-title">Location</div>#}
{#                                                <ul class="icon-group booking-item-rating-stars">#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="booking-item-raiting-list-title">Service</div>#}
{#                                                <ul class="icon-group booking-item-rating-stars">#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="booking-item-raiting-list-title">Clearness</div>#}
{#                                                <ul class="icon-group booking-item-rating-stars">#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="booking-item-raiting-list-title">Rooms</div>#}
{#                                                <ul class="icon-group booking-item-rating-stars">#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                    <li><i class="fa fa-smile-o"></i>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                        <input class="btn btn-primary" type="submit" value="Leave a Review" />#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
{#                        {% endif %}#}
{#                    </div>#}
                </div>
                <div class="col-md-4">
                    <h3 class="mb20">{% blocktrans %}Tours{% endblocktrans %}</h3>
                    {% if tours %}
                        <ul class="booking-list">
                            {% for tour in tours %}
                                {% if forloop.counter <= 5 %}
                                    {% include 'guides/tour_items_representation.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if tours_nmb > 5 %}
                            <div class="text-center">
                                <a href="{% url 'tours' %}?guide_input={{ guide.user.username }}" class="btn btn-success">
                                    {% blocktrans %}See more{% endblocktrans %}
                                </a>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>
                            {% blocktrans %}No tours so far{% endblocktrans %}...
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
    </div>

{% endblock %}

{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        $('#additional_services_select').select2({
            placeholder: 'Select additional services'
        });
    </script>
{% endblock js_stuff %}