{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load stars_rating %}
{% load crispy_forms_tags %}
{% load utils_tags %}


{% block seo_stuff %}
    <title>{{ guide.first_name }} - {% trans 'your guide in' %} {{ guide.city.name }}</title>

    <meta name="description" content="{{ guide.overview|remove_newlines }}"/>
    <meta property="og:description" content="{{ guide.overview|remove_newlines }}" />

    <meta property="og:title" content="{{ guide.first_name }} - {% trans 'your guide in' %} {{ guide.city.name }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ guide.profile_image_medium.url }}" />
    <meta property="og:image:height" content="640" />
{#    <meta property="og:image:width" content="1200" />#}
    <meta property="og:type" content="website" />
{% endblock seo_stuff %}

{% block header_stuff %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}


{% block content %}
    {% if guide.is_active %}
        <div class="booking-proposal-container">
            <div class="mb5">
                {% if app_id %}
                    <a class="btn btn-social btn-facebook"
                       href="https://www.facebook.com/dialog/feed?app_id={{ app_id }}
                        &link={{ request.build_absolute_uri }}{% if request.user.generalprofile.referral_code %}?ref={{ request.user.generalprofile.referral_code }}{% endif %}
                        &display=popup">
                        <i class="fa fa-facebook"></i>{% trans 'Share' %}
                    </a>
                {% endif %}
            </div>
            <div class="mb5">
                <a class="btn btn-default" href="{% url 'chat_creation_guide' guide.uuid %}" target="_blank">
                    {% trans 'Chat with' %} {{ guide.user.generalprofile.get_name }}</a>
            </div>
            <div>
                <a href="#booking_area" class="btn btn-primary btn-booking-proposal">
                    {% trans 'Book now' %}!
                </a>
            </div>
        </div>

        <div class="guide-action-container">
            <div class="main-buttons">
                <a class="btn btn-facebook" href="https://www.facebook.com/dialog/feed?app_id=1389892087910588
                    &link={{ request.build_absolute_uri }}{% if request.user.generalprofile.referral_code %}?ref={{ request.user.generalprofile.referral_code }}{% endif %}
                    &display=popup">
                    <i class="fa fa-facebook"></i> {% trans 'Share' %}
                </a>
                <a class="btn btn-primary" href="{% url 'chat_creation_guide' guide.uuid %}">
                    {% trans 'Message' %}
                </a>
                <a href="#booking_area" class="btn btn-primary btn-booking-proposal">{%  trans 'Book' %}</a>
            </div>
            <div class="scroll-top-container">
                <a href="#profile_container" class="btn btn-primary" id="scroll_top">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    {% endif %}

    <div class="container">
    {% if subdomain != 'api' %}
        <div class="breadcrumb-guide-container text-center">
            <ul class="breadcrumb">
                <li><a href="{% url 'all_countries' %}">{% trans 'All countries' %}</a></li>
                <li>
                    <a href="{% url 'country_guides' guide.city.country.slug %}">{{ guide.city.country.name }}</a>
                </li>
{#                <li><a href="{% url 'guides' %}?city_input={{ guide.city.original_name }}">{{ guide.city.original_name }}</a>#}
                <li>
                    <a href="{% url 'city_guides' guide.city.country.slug guide.city.slug %}">{{ guide.city.name }}</a>
                </li>
                <li class="active">{{ guide.user.generalprofile.get_name }}</li>
            </ul>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="profile-container" id="profile_container">
                    <div class="images">
                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="100%">
                            {% for guide_answer in guide_answers %}
                                {% if guide_answer.image_medium %}
                                    <img src="{% get_media_prefix %}{{ guide_answer.image_medium }}"
                                         alt="Image for {{ guide_answer.guide.user.generalprofile.get_name }}"
                                         class="img-responsive"
                                         title="Image for {{ guide_answer.guide.user.generalprofile.get_name }}" />
                                {% elif guide_answer.image %}
                                    <img src="{% get_media_prefix %}{{ guide_answer.image }}"
                                         alt="Image for {{ guide_answer.guide.user.generalprofile.get_name }}"
                                         class="img-responsive"
                                         title="Image for {{ guide_answer.guide.user.generalprofile.get_name }}" />
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
{#                    <div class="location">#}
{#                        {% if guide.city.name %}#}
{#                            {{ guide.city.name }}#}
{#                        {% elif guide.city.original_name %}#}
{#                            {{ guide.city.original_name }}#}
{#                        {% endif %}#}
{#                    </div>#}
                    <div class="general-info mt30" id="guide_general_info">
                        <span class="name">{{ guide.user.generalprofile.get_name }}</span>
                        {% if guide.user.generalprofile.age > 0 %}
                            , <span>{{ guide.user.generalprofile.age }} {% trans 'years old' %}</span>
                        {% endif %}
                        <br>
                        <span class="profession">{{ guide.user.generalprofile.profession|default_if_none:"" }}</span>
                    </div>

                    <div class="answers">
                        {% with guide.user.generalprofile.get_user_proficient_languages as user_languages %}
                            {% if user_languages %}
                                <div class="mt10 mb50">
                                    <div>{% trans 'Languages' %}: </div>
                                    <div>
                                        {% for user_language in user_languages %}
                                            <span class="label label-default label-tag">
                                                {{ user_language.get_language_display }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% with guide.user.userinterest_set.all as user_interests %}
                            {% if user_interests %}
                                <div class="mt10 mb50">
                                    <div>{% trans 'Interests' %}: </div>
                                    <div>
                                        {% for item in user_interests %}
                                            <span class="label label-default label-tag">
                                                {{ item.interest.name }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% if not guide_answers %}
                            <div class="img-initial mt20 mb20">
                                <img src="{{  guide.profile_image_small.url }}">
                            </div>
                            <div>
                                {{ guide.overview|safe|linebreaks }}
                            </div>
                        {% else %}
                            {% for guide_answer in guide_answers %}
                                <div class="answer-container">
                                    <p class="question">
                                        <b>{{ guide_answer.get_question_text_with_city|safe }}</b>
                                    </p>
                                    <p class="answer">{{ guide_answer.text|safe }}</p>
                                    {% if guide_answer.image_medium %}
                                        <div class="answer-image">
                                            <img src="{{ guide_answer.image_medium.url }}" class="img-responsive">
                                        </div>
                                    {% elif guide_answer.image %}
                                        <div class="answer-image">
                                            <img src="{{ guide_answer.image.url }}" class="img-responsive">
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {% if guide.is_active %}
                        <div class="actions-panel">
                            <div class="text-center mb10">
                                {% if guide != request.user.guideprofile or request.session.current_role != "guide" %}
    {#                                {% if current_order.status.id == 5 %}#}
    {#                                    <a class="btn btn-primary btn-lg popup-text btn-order-review" href="#writing_feedback_modal"#}
    {#                                    data-effect="mfp-zoom-out" data-order_id="{{ current_order.id }}">#}
    {#                                        {% blocktrans %}Write Review{% endblocktrans %}#}
    {#                                    </a>#}
    {#                                {% endif %}#}
                                    <h4 class="text-center">{% trans 'Do you have any questions?' %}</h4>
                                    <a class="btn btn-primary btn-lg"
                                       href="{% url 'chat_creation_guide' guide.uuid %}" target="_blank">
                                        {% trans 'Chat with' %} {{ guide.user.generalprofile.get_name }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="booking-item-dates-change" id="booking_area">
                            <h3 class="text-center">{% trans 'Booking area' %}</h3>
                            {% crispy form %}
                        </div>

                    {% endif %}

                </div>
                <div class="mb20">
                    {% with guide.get_tours as guide_tours %}
                        {% if guide_tours %}
                            <h4 class="text-center">{% trans 'My tours' %}</h4>
                            {% for tour in guide.get_tours %}
                                <div class="col-lg-4">
                                    <div class="mb10">
                                        <a href="{% url 'tour_new' tour.slug tour.uuid "new" %}">
                                            <img {% if tour.image_small %}
                                                src="{% get_sized_image tour default_size="small" %}"
                                             {% else %}
                                                src="{% static 'img/300x300.png' %}"
                                             {% endif %}
                                             alt="{{ tour.name }}" title="{{ tour.name }}" />
                                        </a>
                                        <h5 class="text-center">
                                            <a href="{% url 'tour_new' tour.slug tour.uuid "new" %}">{{ tour.name }}</a>
                                        </h5>
                                        <p>{% trans 'Duration' %}: {{ tour.hours }}
                                            {% if tour.hours == 1 %}{% trans 'hour' %}{% else %}{% trans 'hours' %}{% endif %}</p>
                                        <p>{% trans 'Price' %}:
                                            {% if tour.type == "1" %}
                                                {% trans 'from' %} {{ tour.get_lowest_scheduled_tour_price }} {{ tour.currency.name }}
                                            {% else %}
                                                {% if tour.payment_type_id == 1 %}
                                                    {{ tour.price_hourly|floatformat:"-2" }} {{ tour.currency.name }} / hour
                                                {% elif tour.payment_type_id == 2 %}
                                                    {% if not tour.discount %}
                                                        {{ tour.price|floatformat:"-2"  }} {{ tour.currency.name }}
                                                    {% else %}
                                                        <span class="text-strike">{{ tour.price|floatformat:"-2"  }}</span>
                                                        <span>{{ tour.price_final|floatformat:"-2"  }} {{ tour.currency.name }}</span>
                                                    {% endif %}
                                                {% elif tour.payment_type_id == 3 %}
                                                    {% blocktrans %}Free!{% endblocktrans %}
                                                {% else  %}
                                                    {{ tour.price|floatformat:"-2"  }} {{ tour.currency.name }}
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                        <div class="text-center">
                                            <a href="{% url 'tour_new' tour.slug tour.uuid "new" %}" class="btn btn-primary" target="_blank">
                                                {% trans 'View Details' %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_stuff %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(document).ready(function(){
            if ($("#id_date") !== undefined){
                $("#id_date").datetimepicker({
                     minDate: new Date(),
                     format: 'MM/DD/YYYY HH:mm',
                     stepping: 15,
                });
            };

            function finalPriceCalculation(){
                if ($("#price_total")){
                    price = {{ guide.rate }};
                    nmb_people = $("#id_hours").val();
                    final_price = price*nmb_people;
                    $("#price_total").text(final_price);
                }
            }
            finalPriceCalculation();
            $("#id_hours").on("change", function(){
                finalPriceCalculation();
            });



        })
    </script>
{% endblock js_stuff %}