{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="gap gap-small"></div>
                    <H1>Payout method settings</H1>
                    {{ payment_rails_url }}
                    <iframe src="{{ payment_rails_url }}" id="paymentrails_widget"
                            style="border: none; width: 700px; height: 785px;"></iframe>
                <div class="gap gap-small"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_stuff %}
    <script>
        $(document).ready(function(){
            function resizeWidget(){
                default_widget_width = 700;
                window_width = $(window).width();
                if (window_width < default_widget_width+20){
                    new_width = window_width - 20;
                    $('#paymentrails_widget').css("width", new_width);
                }
            }
            $(window).resize(function(){
                resizeWidget();
            });
            resizeWidget();
        });
    </script>
{% endblock js_stuff %}


