{% load static %}
{% load i18n %}

{% with tour.get_nearest_available_dates as available_dates %}
        <div class="row">
            {% if available_dates %}
                {% for item in available_dates %}
                    <div class="col-lg-12 scheduled-tour">
                        <div class="">
                            <div class="row row-eq-height">
                                <div class="col-lg-7 tour-details">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-left info-title">{% trans 'Tour Date' %}:
                                                <div class="text-center tour-date">{{ item.dt|date:"m/d/Y h:i" }}</div>
                                            </div>
                                            <div class="pull-right info-title">{% trans 'Available seats' %}:
                                                <div class="available-seats text-center">{{ item.seats_available }}/{{ item.seats_total }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mt30">
                                            <div class="text-center tour-title">
                                                {{ tour.name }}
                                            </div>
                                            <div class="text-center">
                                                {% if item.uuid %}
                                                    <a class="btn btn-danger btn-lg"
                                                       href="{% url 'scheduled_tour_delete' item.uuid %}">
                                                        {% trans 'Delete' %}
                                                    </a>
                                                {% endif %}
                                                <a class="btn btn-primary btn-lg"
                                                   href="/">
                                                    {% trans 'Details' %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 tour-price text-center">
                                    {{ item.price_final|floatformat }} USD
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-12">
                    <div class="notification">{% trans 'No available dates for this tour' %}</div>
                </div>
            {% endif %}
        </div>
    {% endwith %}