{% extends 'base_profile.html' %}
{% load static %}

{% block content_profile %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">

                <div class="text-left mb10">
                    <a href="{% url 'guide_settings_tour_create' %}" class="btn btn-primary">
                        Create Tour
                    </a>
                </div>

                <ul class="booking-list">
                    {% for tour in tours %}
                        <li>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="booking-item-img">
                                        {% if tour.image %}
                                            <img src="{% get_media_prefix %}{{ tour.image }}"/>
                                        {% else %}
                                            <img src="{% static 'img/default_tour_image.jpg' %}">
                                        {% endif %}
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="tour-name">
                                        {{ tour.name }}
                                    </div>
                                    <div class="tour-guide-name">
                                        by {{ tour.guide.user.username }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ tour.overview|linebreaks|truncatewords_html:30 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="tour-rating">
                                        <b>Rating: </b> {{ tour.rating }}
                                    </div>
                                    <span class="tour-price">
                                        <b>Price: </b>
                                        {% if tour.payment_type_id == 1 %}
                                            {{ tour.price_hourly }} {{ tour.currency.name }} / hour
                                        {% elif tour.payment_type_id == 2 %}
                                            {{ tour.price }} {{ tour.currency.name }}
                                        {% elif tour.payment_type_id == 3 %}
                                            Free!
                                        {% endif %}
                                    </span>
                                    <div>
                                        <p>
                                            <a class="btn btn-primary" href="{% url 'tour' tour.slug tour.id %}">
                                                Tour Page
                                            </a>
                                        </p>
                                        <a class="btn btn-success" href="{% url 'guide_settings_tour_edit' tour.slug tour.id %}">
                                            Tour Editing
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

