{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}

{% block content_profile %}
    <div class="col-lg-9">

        <h4>{% blocktrans %}{{ page_title }}{% endblocktrans %}</h4>

        <ul class="nav nav-tabs page-tabs" role="tablist">
            <li class="{% if page == "tour_edit_general" %}active{% endif %}">
                <a href="{% url 'tour_edit_general' slug %}">{% trans 'General' %}</a>
            </li>
            <li class="{% if page == "tour_edit_program" %}active{% endif %}">
                <a href="{% url 'tour_edit_program' slug %}">{% trans 'Program' %}</a>
            </li>
            <li class="{% if page == "tour_edit_images" %}active{% endif %}">
                <a href="{% url 'tour_edit_images' slug %}">{% trans 'Images' %}</a>
            </li>
            <li class="{% if page == "tour_edit_price_and_schedule" %}active{% endif %}">
                <a href="{% url 'tour_edit_price_and_schedule' slug %}">{% trans 'Price and Schedule' %}</a>
            </li>
            <li class="">
                <a href="{% url 'guide_settings_tours' %}">{% trans 'Back to tours list' %}</a>
            </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content tour-edit">
        <div role="tabpanel" class="tab-pane active">
            {% block tour_edit_content %}
            {% endblock tour_edit_content %}
        </div>
      </div>
    </div>
{% endblock %}


{% block js_stuff %}
{% endblock %}
