{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load stars_rating %}
{% load crispy_forms_tags %}


{% block header_stuff %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock  %}


{% block content %}
    <div class="container">

    </div>

    <div class="tour-section hero-section" style="
        {% if tour.image %}
            background: url('{{ tour.image_large.url }}')
        {% else %}
            background: url('{% static "img/1280x848.png" %}')
        {% endif %}
    ">
        <div class="section-mask"></div>
        <div class="container">
            <div>
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a>
                    </li>
        {#            <li><a href="/">Some country</a>#}
                    <li><a href="{% url 'tours' %}?city_input={{ tour.city.original_name }}">{{ tour.city.original_name }}</a>
                    </li>
                    <li>
                        <a href="{% url 'guide' tour.guide.user.generalprofile.first_name tour.guide.user.generalprofile.uuid %}">{{ tour.guide.user.generalprofile.first_name }}</a>
                    </li>
                    <li class="active">{{ tour.name }}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center title">{{ tour.name }}</div>
                </div>
            </div>
            {% if tour.overview_short %}
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="text-center tour-description">
                            {{ tour.overview_short|safe|linebreaks }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

     <div class="tour-section tour-program-description">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div>
                        {{ tour.overview|safe|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if tour.included or tour.excluded %}
        <div class="tour-section tour-included">
            <div class="container">
                {% if tour.included %}
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">

                            <div class="tour-included-items-container">
                                <div class="title">
                                    {% trans 'What is included' %}

                                </div>
                                <div class="tour-included-item">
                                        {{ tour.included|linebreaks }}
                                    </div>

{#                                <div class="title">#}
{#                                    {% trans 'What is included' %}#}
{#                                </div>#}
{#                                {% for item in tour.included.splitlines %}#}
{#                                    <div class="tour-included-item">#}
{#                                        {{ item }}#}
{#                                    </div>#}
{#                                {% endfor %}#}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if tour.excluded %}
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="tour-excluded-items-container">
                                <div class="title">
                                    {% trans 'What is NOT included' %}
                                </div>

                                    {% for item in tour.excluded.splitlines %}
                                        <div class ="tour-excluded-item">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {{ item }}
                                                </div>
                                            </div>
                                         </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="tour-section guide-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        {% trans 'Who is the guide?' %}
                    </div>
                    <div>
                        <h4 class="text-center">
                            {{ tour.guide.name }}
                        </h4>
                        <div class="text-center mb10">
                            (<a href="{% url 'guide_new' tour.guide.user.generalprfile.first_name tour.guide.user.generalprofile.uuid "new" %}" target="_blank">{% trans 'view profile' %}</a>)
                        </div>
                        <div class="text-center">
                            {% if tour.guide.profile_image %}
                                <img src="{{ tour.guide.profile_image.url }}" class="w300">
                            {% else %}
                                <img src="{% static 'img/300x300.png' %}" class="w300">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "tours/nearest_available_dates.html" %}

    <div class="tour-section tour-program-items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        {% trans 'Tour Program' %}
                    </div>
                </div>
                {% for item in tour.get_tourprogram_items %}
                    <div class="col-lg-5">
                        <div class="tour-program-item">
                            <div class="img-container" style="
                                {% if item.image_medium %}
                                    background: url('{{ item.image_medium.url }}')
                                {% else %}
                                    background: url('{% static "img/800x600.png" %}')
                                {% endif %}
                            ">
                                {% if item.time %}
                                    <div class="circle circle-time text-center">
                                        {{ item.time|date:"H:i" }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="content">
                                <div class="title">
                                    {{ forloop.counter }}. {{ item.name }}
                                </div>
                                <div class="description">
                                    {{ item.description|safe|linebreaks }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div><!--end row -->
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "tours/nearest_available_dates.html" %}

    <div class="tour-section tour-pictures">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        {% trans 'Other pictures' %}
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                     <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="100%">
                        {% for tour_image in tour.get_tours_images %}
                            <img src="{% get_media_prefix %}{{ tour_image.image }}" alt="Image for {{ tour.name }}"
                                 class="img-responsive"
                                 title="Image for {{ tour.name }}" />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% with tour.get_reviews as reviews %}
        {% if reviews %}
            <div class="tour-section tour-reviews">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title">
                                {% trans 'Tourists Reviews' %}
                            </div>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                             <div class="owl-carousel owl-theme">
                                 {% for review in reviews %}
                                      <div class="review-item">
                                          <div class="row">
                                              <div class="col-lg-4">
                                                  <div class="text-center">
                                                      {% if review.order.tourist.image %}
                                                        <img src="{{ review.order.tourist.image.url }}" class="img-responsive">
                                                      {% else %}
                                                          <img src="{% static 'img/300x300.png' %}" class="img-responsive">
                                                      {% endif %}
                                                      {{ review.order.tourist.user.generalprofile.first_name }}
                                                  </div>
                                              </div>
                                              <div class="col-lg-8">
                                                    <div class="review-title">
                                                          {{ review.tourist_feedback_name }}
                                                    </div>
                                                    <div>
                                                          {{ review.tourist_rating }}
                                                          <ul class="icon-list icon-group booking-item-rating-stars">
                                                              {{ review.tourist_rating|rendering_stars|safe }}
                                                          </ul>
                                                    </div>
                                                    <div class="review-text">
                                                          {{ review.tourist_feedback_text|safe|linebreaks }}
                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                 {% endfor %}
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}


    <div id="tour_booking_form" class="tour-section tour-booking-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">

                    {% if tour.type == "2" %}
                        <div class="mb50">
                            <div class="title text-center">{% trans 'Tour payment description' %}</div>
                            <ul class="list-unstyled">
                                <li>
                                    <b>1-{{ tour.persons_nmb_for_min_price }} {% trans 'persons' %}:</b>
                                    {{ tour.price_final }} {{ tour.currency.name }}</li>
                                <li>
                                    <b>{% trans 'Additional people' %}:</b>
                                    {{ tour.additional_person_price }} {{ tour.currency.name }} {% trans 'for each person' %}
                                </li>
                                <li><b>{% trans 'Maximum participants' %}:</b> {{ tour.max_persons_nmb }}</li>
                            </ul>
                        </div>
                    {% endif %}

                    <div class="title">
                        {% trans 'Booking form' %}
                    </div>
                   {% crispy form %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_stuff %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>

        $(document).ready(function(){
            $('.owl-carousel').owlCarousel();
            if ($("#id_date") !== undefined){
                $("#id_date").datetimepicker({
                     minDate: new Date(),
                     format: 'MM/DD/YYYY HH:mm',
                });
            }


            function finalPriceCalculation(){
                if ($("#price_total")){
                    price = {{ tour.price_final }};
                    nmb_people = $("#id_number_people").val();
                    max_people = {{ tour.max_persons_nmb }};
                    limit_people_for_low_price = {{ tour.persons_nmb_for_min_price }};
                    additional_person_price = {{ tour.additional_person_price }}
                    final_price = 0;
                    nmb_people_additional = nmb_people - limit_people_for_low_price;
                    if (nmb_people_additional>0){
                        final_price = price + (nmb_people_additional*additional_person_price);
                        console.log(nmb_people_additional*additional_person_price);
                        console.log(final_price);
                    }else{
                        final_price = price;
                    }
                    $("#price_total").text(final_price);
                }
            }
            finalPriceCalculation();
            $("#id_number_people").on("change", function(){
                finalPriceCalculation();
            });
        });

    </script>
{% endblock js_stuff %}


