{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}


{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">
                <a href="{% url 'my_bookings' %}">
                    My Bookings
                </a>
            </li>
        </ul>
        <h3 class="booking-title">
            {% if bookings_nmb == 0 %}
                No bookings were found
            {% elif bookings_nmb == 1 %}
                {{ bookings_nmb }}  booking was found!
            {% elif bookings_nmb > 1 %}
                {{ bookings_nmb }} bookings were found
            {% else %}
                No bookings were found
            {% endif %}

        </h3>
        <div class="row">
            <div class="col-md-3">
                <aside class="booking-filters text-white">
                    <h3>Filter By:</h3>
                    <form method="get" action="">
                        <ul class="list booking-filters-list">
                            <li>
                                <h5 class="booking-filters-title">Price </h5>
                                <input type="text" id="price-slider" name="price"
                                       data-min = "0" data-max="300"
                                       {% if request.GET.price %}
                                           value="{{ request.GET.price }}"
                                       {% endif %}
                                >
                            </li>
                            <li>
                                <h5 class="booking-filters-title">City</h5>
                                <select class="form-control select2" id="city_input" name="city_input"
                                        data-search_url="{% url 'search_city' %}">
                                    {% if request.GET.city_input %}
                                        <option value="{{ request.GET.city_input }}" selected>{{ request.GET.city_input }}</option>
                                    {% endif %}
                                </select>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Guides</h5>
                                <select class="form-control select2" id="guide_input" name="guide_input"
                                        data-search_url="{% url 'search_guide' %}">
                                    {% if guide_input %}
                                        <option value="{{ request.GET.guide_input }}" selected>{{ request.GET.guide_input }}</option>
                                    {% endif %}
                                </select>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary btn-block">Apply</button>
                            </li>
                        </ul>
                     </form>
                </aside>
            </div>
            <div class="col-md-9">
{#                <div class="nav-drop booking-sort">#}
{#                    <h5 class="booking-sort-title"><a href="#">Sort: Price (low to high)<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>#}
{#                    <ul class="nav-drop-menu">#}
{#                        <li><a href="#">Price (high to low)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Name (A-Z)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Name (Z-A)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Type</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
                <ul class="booking-list">
                    {% for order in orders %}
                    <li>
                        <a class="booking-item" href="{% url 'tour' order.tour.slug order.tour.id %}">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="booking-item-img">
                                        {% if order.tour.image %}
                                            <img src="{% get_media_prefix %}{{ order.tour.image }}"/>
                                        {% endif %}
                                    </div>
                                    <br>
                                    <span>
                                        <b>Status: </b>{{ order.status.name }}
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <h3>
                                        {{ order.tour.name }} by {{ order.tour.guide.user.username }}
                                    </h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ order.tour.overview|linebreaks|truncatewords_html:30 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <span class="booking-item-price tour-booking-price">
                                        {{ order.price_after_discount }} {{ order.tour.currency.name }}
                                    </span>
                                    <p>
                                        <b>Booked: </b>{{ order.date_ordered|date:"m.d.Y" }}
                                    </p>
                                    <p>
                                        <b>Booked for: </b>{{ order.date_booked_for|date:"m.d.Y" }}
                                    </p>
                                    <p>
                                        <b>Paid: </b>
                                        {% if order.date_paid %}
                                            {{ order.date_paid|date:"m.d.Y" }}
                                        {% else %}
                                            No payment yet
                                        {% endif %}
                                    </p>
                                    <p>
                                         <button class="btn btn-danger btn-sm">Cancel</button>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">6</a>
                            </li>
                            <li><a href="#">7</a>
                            </li>
                            <li class="dots">...</li>
                            <li><a href="#">43</a>
                            </li>
                            <li class="next"><a href="#">Next Page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}


{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        $(document).ready(function(){
            var city_search_url = $('#city_input').data("search_url");
            $('#city_input').select2({
                 ajax: {
                     url: city_search_url,
                     dataType: 'json',
                     delay: 250,
                     data: function (params) {
                         return {
                             q: params.term, // search term
                             page: params.page
                         };
                     },
                     processResults: function (data, params) {
                         // parse the results into the format expected by Select2
                         // since we are using custom formatting functions we do not need to
                         // alter the remote JSON data, except to indicate that infinite
                         // scrolling can be used

                         params.page = params.page || 1;

                         return {
                             results: data.items,
                             pagination: {
                                 more: (params.page * 30) < data.total_count
                             }
                         };
                     },
                     cache: true
                 },

                 minimumInputLength: 1
            });

            var guide_search_url = $('#guide_input').data("search_url");
            $('#guide_input').select2({
                 ajax: {
                     url: guide_search_url,
                     dataType: 'json',
                     delay: 250,
                     data: function (params) {
                         return {
                             q: params.term, // search term
                             page: params.page
                         };
                     },
                     processResults: function (data, params) {
                         // parse the results into the format expected by Select2
                         // since we are using custom formatting functions we do not need to
                         // alter the remote JSON data, except to indicate that infinite
                         // scrolling can be used

                         params.page = params.page || 1;

                         return {
                             results: data.items,
                             pagination: {
                                 more: (params.page * 30) < data.total_count
                             }
                         };
                     },
                     cache: true
                 },

                 minimumInputLength: 1
            });
        });
    </script>
{% endblock js_stuff %}