{% load static %}
{% load i18n %}


<li>
    <div class="booking-item">
        <div class="row">
            <div class="col-md-3">
                <div class="booking-item-img">
                    {% if order.tourist.image %}
                        <img src="{% get_media_prefix %}{{ order.tourist.image }}"/>
                    {% else %}
                        <img src="{% static 'img/300x300.png' %}" class="img-responsive">
                    {% endif %}
                </div>
                {% if order.uuid %}
                    <div class="text-center mt10">
                        <a class="btn btn-primary"
                           href="{% url 'chat_creation_order' order.uuid %}" target="_blank">
                            {% trans 'Chat and manage' %}
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3">
                <h3 class="booking-item-name">
                    {{ order.tourist.user.generalprofile.get_name }}
                </h3>
                <p>
                    <a href="{% url 'tourist' order.tourist.user.generalprofile.uuid %}"
                        class="btn btn-default btn-sm">
                        {% trans 'Tourist Profile' %}
                    </a>
                </p>
                {% if order.tourist.about %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ order.tourist.about|linebreaks|truncatewords_html:30|default_if_none:"" }}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12 mb10">
                        <div><b>{% trans 'Interests' %}:</b></div>
                        {% with order.tourist.user.userinterest_set.all as user_interests %}
                            {% if user_interests %}
                                {% for user_interest in user_interests %}
                                    {% if user_interest.interest.name in interest_input %}
                                        <span class="label label-success label-tag">
                                            {{ user_interest.interest.name }}
                                        </span>
                                    {% else %}
                                        <span class="label label-default label-tag">
                                            {{ user_interest.interest.name }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% trans 'No interests were choosen' %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                {% with order.tourist.user.userlanguage_set.all as user_languages %}
                    {% if user_languages %}
                        <div class="row">
                            <div class="col-md-12 mb10">
                                <div><b>{% trans 'Languages' %}:</b></div>
                                {% for user_language in user_languages %}
                                    {% if user_language.language in language_input %}
                                        <span class="label label-success label-tag">
                                            {{ user_language.get_language_display }}
                                        </span>
                                    {% else %}
                                        <span class="label label-default label-tag">
                                            {{ user_language.get_language_display }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-3">
                {% if order.tour %}
                    <p>
                        <b>{% trans 'Booked tour' %}:</b><br>
                        <a href="{% url 'tour_new' order.tour.slug order.tour.uuid 'new' %}">
                            {{ order.tour.name }}
                        </a>
                    </p>
                {% endif %}
                <p>
                    <b>{% trans 'What you are agreeing to' %}:</b><br>
                    <span class="booking-item-price tour-booking-price">
                        {% blocktrans %}Date{% endblocktrans %}:
                        {% if order.tour_scheduled %}
                            {{ order.tour_scheduled.dt|date:"m/d/Y" }}
                        {% else %}
                            {{ order.date_booked_for|date:"m/d/y" }}
                        {% endif %}
                    </span><br/>
                    <span class="booking-item-price tour-booking-price">
                        {% blocktrans %}Starting:{% endblocktrans %}
                        {% if order.tour_scheduled %}
                            {{ order.tour_scheduled.dt|date:"H:i" }}
                        {% else %}
                            {{ order.date_booked_for|date:"H:i" }}
                        {% endif %}
                    </span>
                    <br/>
                    <span class="booking-item-price tour-booking-price">
                        {% blocktrans %}Ending:{% endblocktrans %}
                            {% if order.tour_scheduled %}
                                {% if order.tour_scheduled.get_tour_end %}
                                    {{ order.tour_scheduled.get_tour_end|date:"H:i" }}
                                {% endif %}
                            {% elif order.get_order_end %}
                                {{ order.get_order_end|date:"H:i" }}
                            {% endif %}
                    </span><br/>
                    <span class="booking-item-price tour-booking-price">
                        {% blocktrans %}Hours{% endblocktrans %}:
                        {% if order.tour %}
                            {{ order.tour.hours }}
                        {% else %}
                            {{ order.hours_nmb }}
                        {% endif %}
                    </span>
                     {% if order.number_persons > 0 %}
                        <span class="booking-item-price tour-booking-price">
                            {% trans 'Number of persons' %}:
                                {{ order.number_persons }}
                        </span>
                    {% endif %}
                </p>
                {% if order.status.id == 5 %}
                    <p><b>{% trans 'Press confirm if you accept this agreement' %}!</b></p>
                {% endif %}
            </div>

            <div class="col-md-3">
                <p>
                    <b>{% trans 'Status' %}: </b>{{ order.status.name }}
                </p>
                <p>
                    <b>{% trans 'Booked' %}: </b>{{ order.date_ordered|date:"m/d/Y" }}
                </p>

                {% if order.tour %}
                    <b>{% trans 'Price' %}:</b><br>
                    <span class="booking-item-price tour-booking-price">
                        {{ order.total_price_before_fees }} USD
                    </span>
                {% else %}
                    <b>{% trans 'Booked hourly' %}:</b><br>
                    <span class="booking-item-price tour-booking-price">
                        {{ order.price_hourly }} USD/{% trans 'hour' %}
                    </span>
                {% endif %}
                <br>
                <b>{% trans 'Fees' %}:</b>
                <span class="booking-item-price tour-booking-price">
                    {{ order.fees_guide }} USD
                </span>
                <br>

                {% if order.status_id == 9 %}
                    <b>{% trans 'What you agree to' %}:</b><br/>
                    <span class="booking-item-price tour-booking-price">
                        {{ order.total_price }} USD
                    </span>
                {% else %}
                    {% if is_fee_free %}
                        <b>{% trans 'What you receive' %}:</b><br/>
                        <span class="booking-item-price tour-booking-price">
                            ${{ order.total_price_before_fees }} USD
                        </span>
                    {% else %}
                        <b>{% trans 'What you receive' %}:</b><br/>
                        <span class="booking-item-price tour-booking-price">
                            {{ order.guide_payment }} USD
                        </span>
                    {% endif %}
                {% endif %}
                {% include 'orders/guide_orders_actions.html' %}
            </div>
        </div>
    </div>
</li>