{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="gap"></div>
            </div>

            <div class="col-lg-6 col-lg-offset-1">
                <h3 class="text-center">{% trans 'Feedback Area' %}</h3>
                {% if order.review.is_guide_feedback %}
                    {% if is_guide or order.review.is_tourist_feedback %}
                        <h3>
                            {% trans 'Guide Review' %}
                        </h3>
                        <p>
                            <b>{% trans 'Score' %}: </b>{{ order.review.guide_rating|stringformat:'d' }}
                        </p>
                        <p>
                            {% if order.review.guide_feedback_name %}
                                <b>{% trans 'Title' %}: </b> {{ order.review.guide_feedback_name }}<br>
                            {% endif %}
                            <b>{% trans 'Text' %}: </b> {{ order.review.guide_feedback_text|safe }}
                        </p>
                    {% endif %}
                {% endif %}

                {% if order.review.is_tourist_feedback %}
                    {% if is_tourist or order.review.is_guide_feedback %}
                        <h3>
                            {% trans 'Tourist Review' %}
                        </h3>
                        <p>
                            <b>{% trans 'Score' %}: </b>{{ order.review.tourist_rating|stringformat:'d' }}
                        </p>
                        <p>
                            {% if order.review.tourist_feedback_name %}
                                <b>{% trans 'Title' %}: </b> {{ order.review.tourist_feedback_name }}<br>
                            {% endif %}
                            <b>{% trans 'Text' %}: </b> {{ order.review.tourist_feedback_text|safe }}
                        </p>
                    {% endif %}
                {% endif %}

                {% if is_guide and not order.review.is_guide_feedback %}
                    {% include 'orders/review_form.html' %}
                {% elif is_tourist and not order.review.is_tourist_feedback %}
                     {% include 'orders/review_form.html' %}
                {% endif %}
            </div>

            <div class="col-lg-4 col-lg-offset-1">
                {% include 'orders/payment_details.html' %}
                <div class="gap"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_stuff %}
{% endblock js_stuff %}