{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% if request.user == order.guide.user %}
    {% if not order.is_canceled and not order.tour.type == "1" %}
        {% if order.status.id == 5 %}
            <p>
                <a href="{% url 'change_order_status' order.uuid 2 %}"
                   class="btn btn-primary">{% trans 'Confirm booking' %}
                </a>
            </p>
        {% endif %}
    {% endif %}

    {% if order.status.id == 4 or order.status.id == 2 %}
        <p>
            <a href="{% url 'order_completing' order.uuid %}"
                class="btn btn-primary">
                {% if order.status.id == 2 %}
                    {% trans 'Mark as completed' %}
                {% elif not order.review.is_guide_feedback %}
                    {% trans 'Write review' %}
                {% else %}
                    {% trans 'View final details' %}
                {% endif %}
            </a>
        </p>
    {% endif %}


{% else %}
    {% with order.tour as tour %}
        <div>
            {% if not order.is_canceled %}
                {% if order.status.id == 5 or order.status.id == 2 %}
                    {% if order.status.id == 2 %}
                        <div class="text-left">
                            <p>
                                {% trans 'Your guide has approved booking conditions.' %}
                            </p>
                        </div>
                    {% elif order.status.id == 5 and form %}
                        {% crispy form %}
                        <div class="mt20">
                            <b>{% trans 'Waiting for guide confirmation' %}</b>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endwith %}

    {% if order.status.id == 4 or order.status.id == 2 %}
        <p>
            <a href="{% url 'order_completing' order.uuid %}"
                class="btn btn-primary">
                {% if not order.review.is_tourist_feedback %}
                    {% if order.payment_status.id == 4 %}
                        {% trans 'Write review' %}
                    {% else %}
                        {% trans 'Mark as completed' %}
                    {% endif %}
                {% else %}
                    {% trans 'View final details' %}
                {% endif %}
            </a>
        </p>
    {% endif %}
{% endif %}

{% if order.status.id == 1 or order.status.id == 5 %}
    <div class="text-left mt10">
        <a href="{% url 'cancel_order' order.uuid %}"
            class="btn btn-danger">
            {% trans 'Cancel booking' %}
        </a>
    </div>
{% endif %}
