{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">
                <a href="{% url 'my_bookings' %}">
                    My Orders
                </a>
            </li>
        </ul>
        <h3 class="booking-title">
            {% if orders_nmb == 0 %}
                No orders were found
            {% elif orders_nmb == 1 %}
                {{ orders_nmb }}  order was found!
            {% elif orders_nmb > 1 %}
                {{ orders_nmb }} orders were found
            {% else %}
                No orders were found
            {% endif %}

        </h3>
        <div class="row">
            <div class="col-md-3">
                <aside class="booking-filters text-white">
                    <h3>Filter By:</h3>
                    <form method="get" action="">
                        <ul class="list booking-filters-list">
                            <li>
                                <h5 class="booking-filters-title">Price </h5>
                                <input type="text" id="price-slider" name="price"
                                       data-min = "0" data-max="300"
                                       {% if request.GET.price %}
                                           value="{{ request.GET.price }}"
                                       {% endif %}
                                >
                            </li>
                            <li>
                                <h5 class="booking-filters-title">City</h5>
                                <select class="form-control select2" id="city_input" name="city_input"
                                        data-search_url="{% url 'search_city' %}">
                                    {% if request.GET.city_input %}
                                        <option value="{{ request.GET.city_input }}" selected>{{ request.GET.city_input }}</option>
                                    {% endif %}
                                </select>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Guides</h5>
                                <select class="form-control select2" id="guide_input" name="guide_input"
                                        data-search_url="{% url 'search_guide' %}">
                                    {% if guide_input %}
                                        <option value="{{ request.GET.guide_input }}" selected>{{ request.GET.guide_input }}</option>
                                    {% endif %}
                                </select>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary btn-block">Apply</button>
                            </li>
                        </ul>
                     </form>
                </aside>
            </div>
            <div class="col-md-9">
{#                <div class="nav-drop booking-sort">#}
{#                    <h5 class="booking-sort-title"><a href="#">Sort: Price (low to high)<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>#}
{#                    <ul class="nav-drop-menu">#}
{#                        <li><a href="#">Price (high to low)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Name (A-Z)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Name (Z-A)</a>#}
{#                        </li>#}
{#                        <li><a href="#">Car Type</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
                <ul class="booking-list">
                    {% for order in orders %}
                    <li>
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="booking-item-img">
                                        {% if order.guide.profile_image %}
                                            <img src="{% get_media_prefix %}{{ order.guide.profile_image }}"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>
                                        {{ order.guide.name }}
                                    </h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ order.guide.overview|linebreaks|truncatewords_html:30 }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb10">
                                            <div><b>Interests:</b></div>
                                            {% for user_interest in order.guide.user.userinterest_set.all %}
                                                {% if user_interest.interest.name in interest_input %}
                                                    <span class="label label-success label-tag">
                                                        {{ user_interest.interest.name }}
                                                    </span>
                                                {% else %}
                                                    <span class="label label-default label-tag">
                                                        {{ user_interest.interest.name }}
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% with order.guide.user.userlanguage_set.all as user_languages %}
                                        {% if user_languages %}
                                            <div class="row">
                                                <div class="col-md-12 mb10">
                                                    <div><b>Languages:</b></div>
                                                    {% for user_language in user_languages %}
                                                        {% if user_language.language in language_input %}
                                                            <span class="label label-success label-tag">
                                                                {{ user_language.get_language_display }}
                                                            </span>
                                                        {% else %}
                                                            <span class="label label-default label-tag">
                                                                {{ user_language.get_language_display }}
                                                            </span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endwith %}

                                </div>

                                <div class="col-md-3">
                                    <span class="booking-item-price tour-booking-price">
                                        {% if order.price_after_discount %}
                                            {{ order.price_after_discount }} USD
                                        {% else %}
                                            {{ order.price_hourly }} USD
                                        {% endif %}
                                    </span>
                                    <p>
                                        <b>Status: </b>{{ order.status.name }}
                                    </p>
                                    <p>
                                        <b>Booked: </b>{{ order.date_ordered|date:"m.d.Y" }}
                                    </p>
                                    <p>
                                        <b>Booked for: </b>{{ order.date_booked_for|date:"m.d.Y" }}
                                    </p>
                                    <p>
                                        <b>Paid: </b>
                                        {% if order.date_paid %}
                                            {{ order.date_paid|date:"m.d.Y" }}
                                        {% else %}
                                            No payment yet
                                        {% endif %}
                                    </p>
                                    <p>
                                        <a href="{% url 'guide' order.guide.user.username %}"
                                            class="btn btn-success btn-sm">
                                            Guide page
                                        </a>
                                    </p>
                                    {% if order.status.id != 3 and order.status.id != 6 %}
                                        <p>
                                            <a href="{% url 'cancel_order' order.id %}"
                                                class="btn btn-danger btn-sm">
                                                Cancel
                                            </a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-md-6">
{#                        <ul class="pagination">#}
{#                            <li class="active"><a href="#">1</a>#}
{#                            </li>#}
{#                            <li><a href="#">2</a>#}
{#                            </li>#}
{#                            <li><a href="#">3</a>#}
{#                            </li>#}
{#                            <li><a href="#">4</a>#}
{#                            </li>#}
{#                            <li><a href="#">5</a>#}
{#                            </li>#}
{#                            <li><a href="#">6</a>#}
{#                            </li>#}
{#                            <li><a href="#">7</a>#}
{#                            </li>#}
{#                            <li class="dots">...</li>#}
{#                            <li><a href="#">43</a>#}
{#                            </li>#}
{#                            <li class="next"><a href="#">Next Page</a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}


{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script src="{% static 'js/custom_scripts/searching_scripts.js' %}"></script>
{% endblock js_stuff %}