{% load static %}

<li>
    <div class="booking-item">
        <div class="row">
            <div class="col-md-2">
                <div class="booking-item-img">
                    {% if order.guide.profile_image %}
                        <img src="{% get_media_prefix %}{{ order.guide.profile_image }}"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <h3>
                    {{ order.guide.name }}
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        {{ order.guide.overview|linebreaks|truncatewords_html:30 }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb10">
                        <div><b>Interests:</b></div>
                        {% for user_interest in order.guide.user.userinterest_set.all %}
                            {% if user_interest.interest.name in interest_input %}
                                <span class="label label-success label-tag">
                                    {{ user_interest.interest.name }}
                                </span>
                            {% else %}
                                <span class="label label-default label-tag">
                                    {{ user_interest.interest.name }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% with order.guide.user.userlanguage_set.all as user_languages %}
                    {% if user_languages %}
                        <div class="row">
                            <div class="col-md-12 mb10">
                                <div><b>Languages:</b></div>
                                {% for user_language in user_languages %}
                                    {% if user_language.language in language_input %}
                                        <span class="label label-success label-tag">
                                            {{ user_language.get_language_display }}
                                        </span>
                                    {% else %}
                                        <span class="label label-default label-tag">
                                            {{ user_language.get_language_display }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

            </div>

            <div class="col-md-3">
                <p>
                    {% if order.tour %}
                        <b>Booked tour:</b><br>
                        <a href="{% url 'tour' order.tour.slug order.tour.id %}">
                            {{ order.tour.name }}
                        </a>
                    {% endif %}
                </p>
                <p>
                    {% if order.tour %}
                        <b>Price:</b><br>
                        <span class="booking-item-price tour-booking-price">
                            {{ order.price_after_discount }} USD
                        </span>
                    {% else %}
                        <b>Booked hourly:</b><br>
                        <span class="booking-item-price tour-booking-price">
                            {{ order.price_hourly }} USD/hour
                        </span>
                    {% endif %}
                </p>
            </div>

            <div class="col-md-3">
                <p>
                    <b>Status: </b>{{ order.status.name }}
                </p>
                <p>
                    <b>Booked: </b>{{ order.date_ordered|date:"m.d.Y" }}
                </p>
                <p>
                    <b>Booked for: </b>{{ order.date_booked_for|date:"m.d.Y" }}
                </p>
                <p>
                    <b>Paid: </b>
                    {% if order.date_paid %}
                        {{ order.date_paid|date:"m.d.Y" }}
                    {% else %}
                        No payment yet
                    {% endif %}
                </p>
                <p>
                    <a href="{% url 'tourist' order.tourist.user.username %}"
                        class="btn btn-primary btn-sm">
                        Go to Tourist Profile
                    </a>
                </p>
                {% if order.status.id != 3 and order.status.id != 6 %}
                    <p>
                        <a href="{% url 'cancel_order' order.id %}"
                            class="btn btn-danger btn-sm">
                            Cancel
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</li>