{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="text-center">
                            <h4>{% trans 'Complete your express signup below' %}</h4>
                        </div>
                        <div>
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}