{% extends 'base_profile.html' %}
{% load i18n %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}


{% block content_profile %}
    <div class="col-md-9">
        <div class="row">

            <div class="col-md-5">
                <h4>{% blocktrans %}Change Password{% endblocktrans %}</h4>

                <form method="post" action="">{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                        <label>{% blocktrans %}Current Password{% endblocktrans %}</label>
                        <span>{{ form.old_password.errors }}</span>
                        <input class="form-control" type="password" name="{{ form.old_password.html_name }}">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                        <label>{% blocktrans %}New Password{% endblocktrans %}</label>
                        <span>{{ form.new_password1.errors }}</span>
                        <input class="form-control" type="password" name="{{ form.new_password1.html_name }}">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon"></i>
                        <label>{% blocktrans %}New Password Again{% endblocktrans %}</label>
                        <span>{{ form.new_password2.errors }}</span>
                        <input class="form-control" type="password" name="{{ form.new_password2.html_name }}">
                    </div>
                    <hr />
                    <input class="btn btn-primary" type="submit" value="Change Password" />
                </form>
            </div>
            <div class="col-md-7">
                <h4>{% blocktrans %}Contact information{% endblocktrans %}</h4>

                <div>
                    <p>{% blocktrans %}Social networks {% endblocktrans %}</p>
                    <ul>
                        <li>Facebook:
                            {% if general_profile.facebook %}
                                your profile is
                                <a href="https://facebook.com/{{ general_profile.facebook }}" target="_blank">
                                    {% blocktrans %}connected{% endblocktrans %}
                                </a>
                                <a title="Facebook" class="link_lead"
                                   href="{% provider_login_url "facebook" method="oauth2"  next=request.get_full_path %}"
                                >
                                    {% blocktrans %}
                                        <i class="fa fa-plus" aria-hidden="true"></i> connect new?
                                    {% endblocktrans %}
                                </a>

                            {% else %}
                                {% blocktrans %}connect your facebook account {% endblocktrans %}
                                <a title="Facebook" class=""
                                   href="{% provider_login_url "facebook" method="oauth2"  next=request.get_full_path %}"
                                >
                                    {% blocktrans %}here{% endblocktrans %}
                                </a>

                            {% endif %}
                        </li>
                        <li>Twitter </li>
                        <li>Google:
                            {% if general_profile.google %}
                                your profile is
                                <a href="https://plus.google.com/{{ general_profile.google }}" target="_blank"">
                                    {% blocktrans %}connected{% endblocktrans %}
                                </a>
                                <a title="Google" class="link_lead"
                                   href="{% provider_login_url "google" method="oauth2"  next=request.get_full_path %}"
                                >
                                    {% blocktrans %}
                                        <i class="fa fa-plus" aria-hidden="true"></i> connect new?
                                    {% endblocktrans %}
                                </a>

                            {% else %}
                                {% blocktrans %}connect your google account {% endblocktrans %}
                                <a title="Google" class=""
                                   href="{% provider_login_url "google" method="oauth2"  next=request.get_full_path %}"
                                >
                                    {% blocktrans %}here{% endblocktrans %}
                                </a>

                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

