{% extends 'base_profile.html' %}
{% load i18n %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}


{% block content_profile %}
    <div class="col-md-9">
        <div class="row">

            <div class="col-md-7">
                <div>
                    <h4>{% blocktrans %}Contact information{% endblocktrans %}</h4>

                    <div>
                        <p>{% blocktrans %}Social networks {% endblocktrans %}</p>
                        <ul>
                            <li>Facebook:
                                {% if general_profile.facebook %}
                                    your profile is
                                    <a href="https://facebook.com/{{ general_profile.facebook }}" target="_blank">
                                        {% blocktrans %}connected{% endblocktrans %}
                                    </a>
                                    <a title="Facebook" class="link_lead"
                                       href="{% provider_login_url "facebook" method="oauth2"  next=request.get_full_path %}"
                                    >
                                        {% blocktrans %}
                                            <i class="fa fa-plus" aria-hidden="true"></i> connect new?
                                        {% endblocktrans %}
                                    </a>

                                {% else %}
                                    {% blocktrans %}connect your facebook account {% endblocktrans %}
                                    <a title="Facebook" class=""
                                       href="{% provider_login_url "facebook" method="oauth2"  next=request.get_full_path %}"
                                    >
                                        {% blocktrans %}here{% endblocktrans %}
                                    </a>

                                {% endif %}
                            </li>
                            <li>Twitter:
                                {% if general_profile.twitter %}
                                    your profile is
                                    <a href="https://twitter.com/intent/user?user_id={{ general_profile.twitter }}" target="_blank"">
                                        {% blocktrans %}connected{% endblocktrans %}
                                    </a>
                                    <a title="Twitter" class="link_lead"
                                       href="{% provider_login_url "twitter" method="oauth2"  next=request.get_full_path %}"
                                    >
                                        {% blocktrans %}
                                            <i class="fa fa-plus" aria-hidden="true"></i> connect new?
                                        {% endblocktrans %}
                                    </a>

                                {% else %}
                                    {% blocktrans %}connect your twitter account {% endblocktrans %}
                                    <a title="Twitter" class=""
                                       href="{% provider_login_url "twitter" method="oauth2"  next=request.get_full_path %}"
                                    >
                                        {% blocktrans %}here{% endblocktrans %}
                                    </a>

                                {% endif %}
                            </li>
                            <li>Google:
                                {% if general_profile.google %}
                                    your profile is
                                    <a href="https://plus.google.com/{{ general_profile.google }}" target="_blank"">
                                        {% blocktrans %}connected{% endblocktrans %}
                                    </a>
                                    <a title="Google" class="link_lead"
                                       href="{% provider_login_url "google" method="oauth2"  next=request.get_full_path %}"
                                    >
                                        {% blocktrans %}
                                            <i class="fa fa-plus" aria-hidden="true"></i> connect new?
                                        {% endblocktrans %}
                                    </a>

                                {% else %}
                                    {% blocktrans %}connect your google account {% endblocktrans %}
                                    <a title="Google" class=""
                                       href="{% provider_login_url "google" method="oauth2"  next=request.get_full_path %}"
                                    >
                                        {% blocktrans %}here{% endblocktrans %}
                                    </a>

                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div>
                        <form class="form-horizontal" method="post" name="phone_form">{% csrf_token %}
                            <div class="row">
                                <div class="col-lg-7">

                                    {% if request.session.pending_validating_phone %}

                                        <div class="form-group">
                                            <label>{% blocktrans %}Phone{% endblocktrans %}</label>
                                            <span id="phone_error_message" class="text-error">{{ verification_form.phone.errors }}</span>
                                            <input type="text" class="form-control" name="{{ verification_form.phone.html_name }}"
                                                   id="{{ verification_form.phone.html_name }}"

                                                   value="{{ request.session.pending_validating_phone }}"
                                                   >

                                            <button type="submit"
                                                class="btn btn-primary btn-xs"
                                                name="submit_phone_btn" id="submit_phone_btn"
                                                data-link="{% url 'sending_sms_code' %}"
                                            >
                                                {% blocktrans %}Re-send sms{% endblocktrans %}
                                            </button>

                                            {% if not request.session.pending_sms_code %}
                                                <button type="submit"
                                                    class="btn btn-default btn-xs"
                                                    name="phone_verification_cancel_btn" id="phone_verification_cancel_btn"
                                                >
                                                    {% blocktrans %}Cancel{% endblocktrans %}
                                                </button>
                                            {% endif %}

                                        </div>
                                    {% elif general_profile.phone_is_validated  and general_profile.phone %}
                                        <label>{% blocktrans %}Phone{% endblocktrans %}</label>
                                        <span>{{ general_profile.phone }}</span>
                                        <button type="submit" class="btn btn-success btn-xs"
                                                id="edit_phone" name="edit_phone"
                                        >
                                            {% blocktrans %}Edit{% endblocktrans %}
                                        </button>
                                    {% else %}

                                        <div class="form-group">
                                            <label>{% blocktrans %}Phone {% endblocktrans %}</label>
                                            <span id="phone_error_message" class="text-error">{{ verification_form.phone.errors }}</span>
                                            <input type="text" class="form-control" name="{{ verification_form.phone.html_name }}"
                                                   id="{{ verification_form.phone.html_name }}"
    
                                                   {% if general_profile.phone_is_validated  and general_profile.phone %}
                                                   value="{{ general_profile.phone }}"
                                                   {% elif request.session.pending_validating_phone %}
                                                   value="{{ request.session.pending_validating_phone }}"
                                                   {% endif %}
                                                   >
                                            <button type="submit"
                                                class="btn btn-primary btn-xs {% if general_profile.phone_is_validated  %}hidden{% endif %}"
                                                name="submit_phone_btn" id="submit_phone_btn"
                                                data-link="{% url 'sending_sms_code' %}"
                                            >
                                                {% blocktrans %}Add{% endblocktrans %}
                                            </button>
                                        </div>
                                    {% endif %}
                                    
                                    {% if request.session.pending_validating_phone %}

                                        <div class="form-group" id="sms_code_container">
                                            <label>{% blocktrans %}Enter validation code here{% endblocktrans %}</label>
                                            <span class="text-error">{{ verification_form.sms_code.errors }}</span>
                                            <input class="form-control w100" id="{{ verification_form.sms_code.html_name }}"
                                                   name="{{ verification_form.sms_code.html_name }}">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs"
                                                    name="validate_phone_btn" id="validate_phone">
                                                {% blocktrans %}Submit{% endblocktrans %}
                                            </button>
                                        </div>

                                    {% endif %}

                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        <hr>
                        <form class="form-horizontal" name="general_profile_form" method="post">{% csrf_token %}

                            <div class="form-group form-group-icon-left">
                                <i class="fa fa-lock input-icon"></i>
                                <label>{% blocktrans %}Address{% endblocktrans %}:</label>
                                <textarea class="form-control" name="{{ form.address.html_name }}">{% if form.address.value %}{{ form.address.value }}{% endif %}</textarea>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" class=""
                                            name="{{ form.is_company.html_name }}"
                                            {% if form.is_company.value %}checked {% endif %}
                                             id="is_company"
                                      >{% blocktrans %}Do you represent a company?{% endblocktrans %}
                                    </label>
                                </div>
                            </div>

                            <div id="business_id_container" class="form-group form-group-icon-left
                                {% if not form.is_company.value %}hidden{% endif %}"
                            >
                                <i class="fa fa-lock input-icon"></i>
                                <label>{% blocktrans %}Business id{% endblocktrans %}:</label>
                                <input class="form-control" name="{{ form.business_id.html_name }}" value="{% if form.business_id.value %}{{ form.business_id.value }}{% endif %}">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">{% blocktrans %}Save{% endblocktrans %}</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div class="col-lg-5">
                <div>
                    <h4>{% blocktrans %}Password management section{% endblocktrans %}</h4>
                    <a href="{% url 'password_changing' %}" class="btn btn-danger">
                        {% blocktrans %}Change password{% endblocktrans %}
                    </a>
                </div>
                <div>
                    <hr>
                    <h4>{% blocktrans %}Identity verification{% endblocktrans %}</h4>

                    <div>
                        {% if not document_uploaded and not is_just_uploaded%}
                            <p>
                                {% blocktrans %}Please add a scan photo of your passport or driving license{% endblocktrans %}
                            </p>
                            <form class="form-inline" name="docs_form" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="form-group">
                                    <input type="file" multiple name="file" >
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="uploading_docs_button" class="btn btn-primary"
                                           value="{% blocktrans %}submit{% endblocktrans %}">
                                </div>
                            </form>
                        {% elif document_uploaded.status.id == 1 or is_just_uploaded %}
                            <p>{% blocktrans %}You scan was successfully uploaded. We will verify it during 24 hours.{% endblocktrans %}</p>
                        {% elif document_uploaded.status.id == 2 %}
                            <p>{% blocktrans %}You identity was successfully verified!{% endblocktrans %}</p>
                        {% elif document_uploaded.status.id == 3 %}
                            <p>
                                {% blocktrans %}You uploaded scan was rejected. Please upload it once again{% endblocktrans %}
                                <br>
                                {% if document_uploaded.comments %}
                                    <b>{% blocktrans %}Comments: {% endblocktrans %}</b>
                                    {{ document_uploaded.comments|safe }}
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

