{% extends 'base_guide_profile.html' %}

{% block content_profile %}
    <div class="col-md-5">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    {{ guide.overview|safe }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <ul class="booking-list">
            {% for tour in tours %}
                {% include 'users/tour_items_representation.html' %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Reviews</h3>
        {% for review in reviewing %}
            <div>
                df
            </div>
        {% endfor %}
    </div>
{% endblock content_profile %}