{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a>
            </li>
            <li><a href="/">Some country</a>
            <li><a href="/">{{ guide.city.name }}</a>
            </li>
            <li class="active">{{ guide.user.username }}</li>
        </ul>

        <div class="booking-item-details">
            <header class="booking-item-header">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="lh1em">
                            {{ guide.user.first_name }} {{ guide.user.last_name }} ({{ guide.user.username }})
                        </h2>

                        {% if guide == request.user.guideprofile and request.session.current_role == "guide"%}
                            <a href="{% url 'settings_router' %}">
                                 Go to Settings
                             </a>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-7">
                     <div class="row">
                        <div class="col-md-5">
                            {% if guide.profile_image %}
                                <img src="{{ guide.profile_image.url }}" class="img-responsive">
                            {% endif %}
                            <div class="mt10 text-center">
                                {% if guide == request.user.guideprofile %}
                                    <a href="#write_review" class="btn btn-primary btn-sm" disabled="">Write Review</a>
                                    <a href="{% url 'chat_creation_guide' guide.id %}"
                                       class="btn btn-default btn-sm" disabled="">
                                        Send Message
                                    </a>
                                {% else %}
                                    <a href="#write_review" class="btn btn-primary btn-sm">Write Review</a>
                                    <a href="{% url 'chat_creation_guide' guide.id %}" class="btn btn-default btn-sm">Send Message</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-7">
                            {% if guide.overview %}
                                <p>{{ guide.overview|linebreaks }}</p>
                            {% else %}
                                <p>Some description will be here</p>
                            {% endif %}
                            <div>
                                <hr>
                                <b>Interests: </b>
                                {% if user.userinterest_set.all %}
                                    {% for item in user.userinterest_set.all %}
                                        {{ item.interest.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p>No interests</p>
                                {% endif %}
                            </div>
                        </div>
                     </div>

                     <div class="row mt20">
                        <div class="col-md-12">
                            <h3>Services</h3>
                        </div>
                        <div class="col-md-6">
                            <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                <li>
                                    <i class="im im-wheel-chair"></i><span class="booking-item-feature-title">Wheelchair Access</span>
                                </li>
                                <li><i class="im im-smoking"></i><span class="booking-item-feature-title">Smoking Allowed</span>
                                </li>
                                <li><i class="im im-children"></i><span class="booking-item-feature-title">For Children</span>
                                </li>
                                <li><i class="im im-elder"></i><span class="booking-item-feature-title">Elder Access</span>
                                </li>
                                <li><i class="im im-dog"></i><span class="booking-item-feature-title">Pet Allowed</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                <li><i class="im im-children"></i><span class="booking-item-feature-title">For Children</span>
                                </li>
                                <li><i class="im im-elder"></i><span class="booking-item-feature-title">Elder Access</span>
                                </li>
                                <li><i class="im im-dog"></i><span class="booking-item-feature-title">Pet Allowed</span>
                                </li>
                            </ul>
                        </div>
                     </div>
                </div>
                <div class="col-md-5">
                    <div class="booking-item-meta">
                        <h2 class="lh1em">Exeptional!</h2>
                        <h3>97% <small >of guests recommend</small></h3>
                        <div class="booking-item-rating">
                            <ul class="icon-list icon-group booking-item-rating-stars">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul><span class="booking-item-rating-number"><b >4.7</b> of 5 <small class="text-smaller">guest rating</small></span>
                            <p><a class="text-default" href="#">based on 1535 reviews</a>
                            </p>
                        </div>
                    </div>
                    <div class="booking-item-dates-change">
                        <form method="post" id="form_tour_scheduling" class="form-horizontal">{% csrf_token %}
                            <div class="input-daterange" data-date-format="MM d, DD">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon"></i>
                                            <label>Booking a tour date:</label>
                                            <input class="form-control" name="start" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group- form-group-select-plus">
                                            <label>Persons nmb:</label>
                                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />1</label>
                                                <label class="btn btn-primary active">
                                                    <input type="radio" name="options" />2</label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />3</label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />4</label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" />4+</label>
                                            </div>
                                            <select class="form-control hidden">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option selected="selected">5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Select a tour from {{ guide.user.get_full_name }}:</label>
                                            <select name="tour" class="form-control">
                                                {% for tour in tours %}
                                                    <option value="{{ tour.id }}">
                                                        {{ tour.name }} -
                                                        {% if tour.payment_type.id == 1 %}
                                                            {{ tour.price_hourly }} {{ tour.currency.name }}/hour
                                                        {% elif tour.payment_type.id == 2 %}
                                                             {{ tour.price }} {{ tour.currency.name }}
                                                        {% else %}
                                                            free!
                                                        {% endif %}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="gap gap-small"></div>	<a href="#" class="btn btn-primary btn-lg">Book Now</a>
                </div>
            </div>

            <div class="gap gap-small"></div>

            <div class="row row-wrap">
                <div class="col-md-8">
                    <h3 class="mb20">Reviews</h3>
                    {% if reviews %}
                        <ul class="booking-item-reviews list">
                            {% for review in reviews %}
                                {% include 'users/review_representation.html' %}
                            {% endfor %}
                         </ul>
                    {% else %}
                        <p>No reviews so far...</p>
                    {% endif %}

                    <div class="row wrap">
                        <div class="col-md-5">
                            <p><small>1358 reviews on this property. &nbsp;&nbsp;Showing 1 to 7</small>
                            </p>
                        </div>
                        <div class="col-md-7">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a>
                                </li>
                                <li><a href="#">2</a>
                                </li>
                                <li><a href="#">3</a>
                                </li>
                                <li><a href="#">4</a>
                                </li>
                                <li><a href="#">5</a>
                                </li>
                                <li><a href="#">6</a>
                                </li>
                                <li><a href="#">7</a>
                                </li>
                                <li class="dots">...</li>
                                <li><a href="#">43</a>
                                </li>
                                <li class="next"><a href="#">Next Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="gap gap-small"></div>
                    <div class="box bg-gray" id="write_review">
                        {% if not user.is_authenticated %}
                           <p>Please  <a href="/login?next={{ request.path }}">login </a> to leave a review</p>
                        {% else %}
                            <h3>Write a Review</h3>
                            <form method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Review Title</label>
                                            <input class="form-control" type="text" name="name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Review Text</label>
                                            <textarea class="form-control" rows="6" name="text"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list booking-item-raiting-summary-list stats-list-select">
                                            <li>
                                                <div class="booking-item-raiting-list-title">Sleep</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Location</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Service</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Clearness</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Rooms</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                    <li><i class="fa fa-smile-o"></i>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <input class="btn btn-primary" type="submit" value="Leave a Review" />
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="mb20">Tours</h3>
                    <ul class="booking-list">
                        {% for tour in tours %}
                            {% include 'users/tour_items_representation.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
    </div>

{% endblock %}


