{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load utils_tags %}


{% block header_stuff %}
{% endblock %}

{% block content %}
    <div class="homepage">
        <div class="top-area homepage-hero">
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img"
                     style="background:url('{% get_sized_image obj %}') no-repeat center center fixed; background-size: cover;"></div>
                <div class="bg-front">
                    <br><br><br>
                    <div class="row">
{#                        <img style="display: block; width: 120px; margin-left: auto; margin-right: auto;" class="center" src="{% static 'img/Tourzan-transparant.png' %}" alt="main-logo">#}
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="text text-center">
{#                                <h1>Tourzan.com</h1>#}
                                <h2>{{ obj.motto|safe|linebreaks|default_if_none:"" }}</h2>
                            </div>
{#                            <br><br>#}
                            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                                <form id="search_form" class="homepage-form" method="get" action="{% url 'location_search_router' %}">
                                    <div class="form-group form-group-lg">
                                        <label>Tours and local guides in {{ countries_count }} countries and {{ cities_count }} cities.</label>
                                        <input class="typeahead form-control" id="location_search_input" name="location_search_input" placeholder="Type your destination to find tours and local guides">
                                        <input id="place_id" name="place_id" class="hidden">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if city %}
            <section>
                <div class="container">
                    <div class="row">
                        {% with city.get_tours_6 as tours %}
                            {% if tours|length > 0 %}
                                <div class="col-lg-12"><h3>{% trans 'Tours in ' %}{{ city.name }}</h3></div>
                                {% for tour in tours %}
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        {% include 'tours/tour_in_panel.html' %}
                                    </div>
                                    {% if forloop.counter|divisibleby:3 %}
                                        </div>
                                        <div class="row">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="row">
                        {% with city.get_guides_6 as guides %}
                            {% if guides|length > 0 %}
                                <div class="col-lg-12"><h3>{% trans 'Guides in ' %}{{ city.name }}</h3></div>
                                {% for guide in guides %}
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        {% include 'guides/guide_in_panel.html' %}
                                    </div>
                                    {% if forloop.counter|divisibleby:3 %}
                                        </div>
                                        <div class="row">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </section>
        {% endif %}
        <section class="platform-description">
            <div class="container">
                <div class="row">
                    <h1 class="text-center">What Is Tourzan?</h1>
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                        <p>At Tourzan, we connect travelers with local guides and local experiences that can take your vacation from good to once-in-a-lifetime. We take pride in connecting travelers with the best local tour guides around the world - like having your own personal concierge service, interactive guide book, and translator all at the same time. Our platform features local guides from over {{ countries_count }} different countries, with new local guides and local experiences added every single day.


<br>
<br>
Interested in being a local guide and connecting with visitors and tourists in your home country? Tourzan is here for you too! We offer a dynamic platform, absolutely free, for anyone interested in registering and listing their services and experience for our potential travelers. We can help you get your services out to the masses, connect and communicate with new clients from around the world, and offer you a verified and secure method for handling bookings and providing local tour experiences on a bigger scale than ever before.</p>
{#                        {{ obj.description|safe|linebreaks|default_if_none:"" }}#}
                        <br/>
                    </div>
                    {% if featured_news %}
                            <div class="col-lg-12">
                                <h3 class="mb30 text-center">{% trans 'We have been featured In' %}</h3>
                            </div>
                        {% include "users/featured_in_news.html" %}
                        <br/>
                    {% endif %}
                </div>
            </div>
        </section>
        <section>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Why Choose A Local Guide?</h2>
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <p>
                        Simply put, Tourzan takes pride in offering travelers unfiltered, off-the-beaten path local experiences no matter where your itinerary and travel plans take you. If you are sick of waiting in lines and dodging out of group photos or selfies, prefer destinations that are secluded, and want to make new friends instead of following someone with a flag through a mob, Tourzan can help you find the right local guide to take your vacation off the grid and into something memorable.

                        Our local guides not only hail from a <a rel="canonical" href="{% url 'all_countries' %}">variety of countries</a> from around the globe, but offer a variety of services and local tour experiences - from airport pickup and experience planning to specific expertise in cultural excursions and local destinations. All of our <a rel="canonical" href="{% url 'guides' %}">guides</a> are fully vetted and verified, and with our personal profile feature, you can get to know them (and they can get to know you) before you even step on the plane, to make your experience more personal.
                    </p>
{#                    <br/>#}
                </div>
            </div>
        </div>
    </section>
        <section class="cities-homepage">
            <div class="container container-equal-items">
{#                <br/>#}
{#                <br/>#}
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb30">{% trans 'Available Countries' %}</h3>
                    </div>
                    {% for country in countries %}
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <a href="{% url 'country_guides' country.slug %}" target="_blank"
                                        ><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% get_sized_image country "small" %}" alt="{{ country.slug }}" name="dimg"></a>
                                    </div>
                                    <div class="mt10">
                                        <h4 class="text-center">
                                            {{ country.name }}
                                        </h4>
                                        <div>
                                            {% with country.get_cities as cities %}
                                            {% if cities %}
                                                <b>{% trans 'Available cities' %}: </b>
                                                {% for city in country.get_cities %}
                                                    <a href="{% url 'city_guides' city.country.slug city.slug %}" target="_blank">
                                                        {{ city.name }}{% if not forloop.last %}, {% endif %}
                                                    </a>
                                                {% endfor %}
                                            {% else %}
                                                {% trans 'We are looking for guides in' %} {{ country.name }}
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center panel-button">
                                    <a class="btn btn-default"
                                        href="{% url 'country_guides' country.slug %}" target="_blank">
                                        {% trans 'View details' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <a class="btn btn-primary btn-lg" href="{% url 'all_countries' %}" target="_blank">
                                    {% trans 'View all available countries' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Want To Be A Local Tour Guide?</h2>
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                        <p>
                            Awesome! We’d love for you to join our growing community and help you connect with travelers and visitors for you to show around and introduce to your home. It is 100% free for you to join and we can help with initial marketing and publicity for your guide profile. Once you join, you’ll have access to a dynamic personal dashboard to help you manage bookings, communicate with clients, and keep all of your key information in one place. Visit our <a rel="canonical" href="{% url 'guide_registration_welcome' %}">local guide registration</a> page to get started today.
                        </p>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                    <a class="btn btn-primary btn-lg" rel="canonical" href="{% url 'guide_registration_welcome' %}">
                        {% trans 'Become a guide today' %}
                    </a>
                    </div>
                </div>
            </div>
            </div>
        </section>
        {% if partners %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb30">{% trans 'Our Integration Partners' %}</h3>
                    </div>
                </div>
                {% include "partners/integration_partners.html" %}
            </div>
        </section>
        {% endif %}

        {% if endorsements %}
        <section>
            <div class="container">
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb30">{% trans 'We are endorsed by' %}</h3>
                    </div>
                </div>
                {% include "partners/endorsements.html" %}
            </div>
        {% endif %}
{#        {% if special_offer_tours %}#}
{#            <section class="special-offers">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <h3 class="mb30">{% trans 'Special offers' %}</h3>#}
{#                        </div>#}
{#                    </div>#}
{#                    {% include "tours/special_offers_section.html" %}#}
{#                </div>#}
{#            </section>#}
{#        {% endif %}#}
    {% if subdomain != 'api' %}
        {% include 'banner.html' %}
    {% endif %}
    </div>
{% endblock content %}


{% block js_stuff %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4M-SKd4ihX9l4W5Dz4ZUWOqHG3seEGYw&libraries=places">
    </script>
    <script src="{% static 'js/custom_scripts/google_location_searching.js' %}"></script>
{% endblock %}