{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load utils_tags %}


{% block header_stuff %}
{% endblock %}

{% block content %}
    <div class="homepage">
        <div class="top-area homepage-hero">
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img"
                     style="background:url({% get_sized_image obj %}) no-repeat center center fixed; background-size: cover;"></div>
                <div class="bg-front">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h4 class="owl-cap-title fittext">
                                Tourzan
                            </h4>
                            <div class="text text-center">
                                <br>
                                {{ obj.motto|safe|linebreaks }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="platform-description">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        {{ obj.description|safe|linebreaks }}
                        <div>
                            <a href="{% url 'guide_registration_welcome' %}">
                                {% trans 'WANT TO BE A GUIDE?' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cities-homepage">
            <div class="container container-equal-items">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb30">{% trans 'Find tours and private guides in the following cities' %}</h3>
                    </div>
                    {% for city in cities %}
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div><img src="{% get_sized_image city "medium" %}"></div>
                                    <div class="mt10">
                                        <h4 class="text-center">
                                            {{ city.name }}, {{ city.country.name }}
                                        </h4>
                                        <div>
                                            {{ city.description|safe|linebreaks|truncatewords_html:30 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center panel-button">
                                    <a class="btn btn-default"
                                        href="{% url 'city_guides' city.country.slug city.slug %}" target="_blank"
                                    >
                                        {% trans 'View details' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="special-offers">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb30">{% trans 'Special offers' %}</h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="discount-box">
                            <div class="location">Barcelona, Spain</div>
                            <div class="tour-name">Tour "Great tour" only for 1.99 USD!</div>
                            <div class="normal-price">Normal price: 25 USD per person</div>
                            <div class="discount-price">Normal price: 25 USD per person</div>
                            <div class="dates-available">
                                Dates: 12/12/2018 (2 spots available),
                                12/15/2018 (3 spots available)
                            </div>
                            <div class="text-center mt10">
                                <a href="/" class="btn btn-primary">{% trans 'Get the deal' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}