{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load utils_tags %}


{% block header_stuff %}
{% endblock %}

{% block content %}
    <div class="homepage">
        <div class="top-area homepage-hero">
            <div class="bg-holder full text-center text-white">
                <div class="bg-mask"></div>
                <div class="bg-img"
                     style="background:url({% get_sized_image obj %}) no-repeat center center fixed; background-size: cover;"></div>
                <div class="bg-front">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h4 class="owl-cap-title fittext">
                                Tourzan
                            </h4>
                            <div class="text text-center">
                                <br>
                                {{ obj.motto|safe|linebreaks }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="platform-description">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        {{ obj.description|safe|linebreaks }}
                        <div>
                            <a href="{% url 'guide_registration_welcome' %}">
                                {% trans 'WANT TO BE A GUIDE?' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cities-homepage">
            <div class="container container-equal-items">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb30">{% trans 'Find tours and private guides in the following countries' %}</h3>
                    </div>
                    {% for country in countries %}
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <a href="{% url 'country_guides' country.slug %}" target="_blank"
                                        ><img src="{% get_sized_image country "medium" %}"></a>
                                    </div>
                                    <div class="mt10">
                                        <h4 class="text-center">
                                            {{ country.name }}
                                        </h4>
                                        <div>
                                            {% with country.get_cities as cities %}
                                            {% if cities %}
                                                <b>{% trans 'Available cities' %}: </b>
                                                {% for city in country.get_cities %}
                                                    <a href="{% url 'city_guides' city.country.slug city.slug %}" target="_blank">
                                                        {{ city.name }}{% if not forloop.last %}, {% endif %}
                                                    </a>
                                                {% endfor %}
                                            {% else %}
                                                {% trans 'We are looking for guides in' %} {{ country.name }}
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center panel-button">
                                    <a class="btn btn-default"
                                        href="{% url 'country_guides' country.slug %}" target="_blank"
                                    >
                                        {% trans 'View details' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <a class="btn btn-primary btn-lg" href="{% url 'all_countries' %}" target="_blank">
                                    {% trans 'View all available countries' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="special-offers">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="mb30">{% trans 'Special offers' %}</h3>
                    </div>
                </div>
                <div class="row">
                    {% for tour in special_offer_tours %}
                        <div class="col-lg-6">
                            <div class="discount-box">
                                <ul class="list-unstyled">
                                    <li class="location">{{ tour.city.name }}, {{ tour.city.country.name }}</li>
                                    <li class="tour-name">{{ tour.name }} {% trans 'only for' %} 1.99 USD!</li>

                                    {% if tour.type == "1" %}
                                        <li class="normal-price"><span class="item-title">{% trans 'Normal price' %}:</span> 25 USD {% trans 'per person' %}</li>
                                        <li class="promotion-price"><span class="item-title">{% trans 'Promotion price' %}:</span> 1.99 USD {% trans 'per person' %}</li>
                                        <li class="dates-available">
                                            <span class="item-title">{% trans 'Dates' %}: </span>
                                            {% for item in tour.available_discount_tours %}
                                                {{ item.dt|date:"m/d/Y" }} (item.seats_available
                                                {% if item.seats_available == 1 %}
                                                    {% trans 'spot' %}{% else %}{% trans 'spots' %}
                                                {% endif %}
                                                {% trans 'available' %}
                                                )
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                    {% else %}
                                        <li class="normal-price">
                                            <span class="item-title">{% trans 'Normal price' %}:</span> {{ tour.price }} {{ tour.currency.name }} {% trans 'per person' %}
                                        </li>
                                        <li class="promotion-price"><span class="item-title">{% trans 'Promotion price' %}:</span> {{ tour.price_final }} {{ tour.currency.name }} {% trans 'per person' %}</li>
                                        <li class="additional-description"></li>
                                        <li class="dates-available">
                                            <span class="item-title">{% trans 'Dates' %}: </span>
                                            {{ tour.available_discount_tours.0 }}
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="text-center mt10">
                                    <a href="{% url 'tour_new' tour.slug tour.uuid 'new' %}" class="btn btn-primary">{% trans 'Get the deal' %}</a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}