{% load static %}
{% load i18n %}

<div class="form-group">
    <label>{% blocktrans %}Native Language{% endblocktrans %} *:</label>
    <select required class="form-control language-select select2"
        id="language_native" name="language_native"
        data-search_url="{% url 'search_language' %}"
    >
        {% if user_language_native %}
            <option value="{{ user_language_native.language}}" selected>{{ user_language_native.get_language_display}}</option>
        {% endif %}
    </select>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <label>{% blocktrans %}Second Language{% endblocktrans %}:</label>
            <select class="form-control language-select select2" id="language_second" name="language_second">
                {% if user_language_second %}
                    <option value="{{ user_language_second.language }}" selected>{{ user_language_second.get_language_display}}</option>
                {% endif %}
            </select>
        </div>

        <div class="col-lg-6">
            <label>{% blocktrans %}Proficiency{% endblocktrans %}:</label>
            <select class="form-control select2"
                id="language_second_proficiency" name="language_second_proficiency">
                <option selected value="">{% blocktrans %}Select level{% endblocktrans %}</option>
                {% for language_level in language_levels %}
                    <option value="{{ language_level.id }}"
                            {% if language_level.id == user_language_second.level.id %}selected="selected"{% endif %}
                    >{{ language_level.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <label>{% blocktrans %}Third Language{% endblocktrans %}:</label>
            <select class="form-control language-select select2" id="language_third" name="language_third">
                {% if user_language_third %}
                    <option value="{{ user_language_third.language}}" selected>{{ user_language_third.get_language_display}}</option>
                {% endif %}
            </select>
        </div>

        <div class="col-lg-6">
            <label>{% blocktrans %}Proficiency{% endblocktrans %}{{ user_language_third.level.id }}:</label>
            <select class="form-control select2"
                id="language_third_proficiency" name="language_third_proficiency">
                <option selected value="">{% blocktrans %}Select level{% endblocktrans %}</option>
                {% for language_level in language_levels %}
                    <option value="{{ language_level.id }}"
                            {% if language_level.id == user_language_third.level.id %}
                            selected="selected"
                            {% endif %}>{{ language_level.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>