{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="container">
        <h1 class="page-title">Login/Register on Tourzan</h1>
    </div>

    <div class="gap-small"></div>

    <div class="container">
        <div class="row" data-gutter="60">
            <div class="col-md-4">
                <h3>Welcome to Tourzan</h3>
                <p>You may be authenticated, using social networks or sign in/sign up using username and password</p>
                <div class="text-center">
                    <a title="Facebook" class="btn btn-default btn-facebook"
                       {% if request.GET.next and request.GET.next|length > 4 %}
                           href="{% provider_login_url "facebook" method="oauth2"  next=request.GET.next %}"
                       {% else %}
                            href="{% provider_login_url "facebook" method="oauth2" next="/after_login_router/" %}"
                       {% endif %}
                    >
                        <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Login</h3>
                <form method="post" action="{% url 'login' %}">{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Username or email</label>
                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" name="username" />
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="my secret password" name="password" />
                    </div>
                    <div class="form-group">

                        <input class="btn btn-primary" type="submit" name="login_btn" value="Log In" />

                    </div>
                    <div class="form-group">
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>New To Tourzan?</h3>
                <form method="post" action="{% url 'account_signup' %}">{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Username</label>
                        <input class="form-control" placeholder="e.g. johndoe" type="text" name="username"
                        value="">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                        <label>Email</label>
                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="email" name="email"
                        value="">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="my secret password" name="password1"
                        value="">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Password (re-enter)</label>
                        <input class="form-control" type="password" placeholder="my secret password again" name="password2"
                        value="">
                    </div>

                    <div class="g-recaptcha form-group form-group-icon-left" data-sitekey="6LcH3h4TAAAAAF9LtA65w6p2ojP0Ltaoq5ShZ5Bl">
                    </div>

                    <input class="btn btn-primary" type="submit" value="Sign Up for Tourzan" />
                </form>
            </div>
        </div>
    </div>

    <div class="gap"></div>
        
{% endblock content %}
