{% extends 'base.html' %}
{% load i18n %}
{%  load staticfiles %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% block content %}
    <div class="container">
        <h1 class="page-title">Login/Register on Tourzan</h1>
    </div>

    <div class="gap"></div>

    <div class="container">
        <div class="row" data-gutter="60">
            <div class="col-md-4">
                <h3>Welcome to Tourzan</h3>
                <p>You may be authenticated, using social networks or sign in/sign up using username and password</p>
                <div class="text-center">
                    <a title="Facebook" class="btn btn-default btn-facebook"
                       {% if request.GET.next  %}
                           href="{% provider_login_url "facebook" method="oauth2"  next=request.GET.next %}"
                       {% else %}
                            href="{% provider_login_url "facebook" method="oauth2" %}"
                       {% endif %}
                    >
                        <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Login</h3>
                <form method="post" action="">{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Username or email</label>
                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" name="username" />
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="my secret password" name="password" />
                    </div>
                    <input class="btn btn-primary" type="submit" name="login" value="Log In" />
                </form>
            </div>
            <div class="col-md-4">
                <h3>New To Traveler?</h3>
                <form method="post" action="">{% csrf_token %}
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Full Name</label>
                        <input class="form-control" placeholder="e.g. John Doe" type="text" />
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                        <label>Emai</label>
                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" />
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="my secret password" />
                    </div>
                    <input class="btn btn-primary" type="submit" value="Sign Up for OpenStay" />
                </form>
            </div>
        </div>
    </div>

    <div class="gap"></div>
        
{% endblock content %}