{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}

{% block content_profile %}
    <div class="col-md-9">
        {% include "guides/guide_profile_edit_form.html" %}
    </div>
{% endblock %}


{% block js_stuff %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% static 'js/custom_scripts/searching_scripts.js' %}"></script>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4M-SKd4ihX9l4W5Dz4ZUWOqHG3seEGYw&libraries=places">
    </script>
    <script src="{% static 'js/custom_scripts/google_location_searching.js' %}"></script>
{% endblock js_stuff %}