{% extends 'base_profile.html' %}
{% load static %}
{% load i18n %}


{% block content_profile %}
<div class="col-md-9">
    <h3>{% trans 'Identification: documents scan uploading' %}</h3>
    <div class="row">
        <div class="col-lg-6">
            <div>
                {% if not document_uploaded and not is_just_uploaded %}
                    <p>
                        {% blocktrans %}Please add a scan photo of your passport or driving license{% endblocktrans %}
                    </p>
                    <form class="form-inline" name="docs_form" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group">
                            <input type="file" multiple name="file" >
                        </div>
                        <div class="form-group">
                            <input type="submit" name="uploading_docs_button" class="btn btn-primary"
                                   value="{% blocktrans %}submit{% endblocktrans %}">
                        </div>
                    </form>
                {% elif document_uploaded.status.id == 1 or is_just_uploaded %}
                    <p>{% blocktrans %}You scan was successfully uploaded. We will verify it during 24 hours.{% endblocktrans %}</p>
                {% elif document_uploaded.status.id == 2 %}
                    <p>{% blocktrans %}You identity was successfully verified!{% endblocktrans %}</p>
                {% elif document_uploaded.status.id == 3 %}
                    <p>
                        {% blocktrans %}You uploaded scan was rejected. Please upload it once again{% endblocktrans %}
                        <br>
                        {% if document_uploaded.comments %}
                            <b>{% blocktrans %}Comments: {% endblocktrans %}</b>
                            {{ document_uploaded.comments|safe }}
                        {% endif %}
                    </p>
                {% endif %}
                <br>
                <h5>{% blocktrans %}Why it matters:{% endblocktrans %}</h5>
                <p>{% blocktrans %}Think about this for a moment. A stranger is hiring a stranger to show them around. As such
                    it’s nice to have peace of mind. Trusted profiles gain more views from tourists looking to
                    hire guides and give guides peace of mind they are meeting up with safe and respectful
                    tourists and vice versa.
                    {% endblocktrans %}
                </p>
            </div>
            <div>
                <a href="{% url 'identity_verification' %}" class="btn btn-default">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content_profile %}


{% block js_stuff %}
{% endblock js_stuff %}