{% load static %}
{% load i18n %}
{% load stars_rating %}


<li>
    <div class="row">
        <div class="col-md-2">
            <div class="booking-item-review-person">
                <img src="{{ review.order.tourist.get_avatar }}"/>
                <div class="tourist-name">
                    {{ review.order.tourist.user.generalprofile.get_name }}
                </div>
                {% if review.order.guide.city.country %}
                    <div class="booking-item-review-person-loc text-center">
                        {{ review.order.guide.city.country.name }}
                    </div>
                {% endif %}
{#                <small>#}
{#                    <a href="#">#}
{#                        {{ TODO: put a number of reviews the tourist has done counter here }}#}
{#                    </a>#}
{#                </small>#}
            </div>
        </div>
        <div class="col-md-10">
            <div class="booking-item-review-content">
                <ul class="icon-list icon-group booking-item-rating-stars">
                    {{ review.tourist_rating|rendering_stars|safe }}
                </ul>

                {% if review.tourist_feedback_name %}
                    <h5>{{ review.tourist_feedback_name }}</h5>
                {% endif %}

                <div class="mt5">
                    {{ review.tourist_feedback_text|safe|linebreaks }}
                </div>

{#                <p class="booking-item-review-rate">{% blocktrans %}Was this review helpful?{% endblocktrans %}#}
{#                    <a class="fa fa-thumbs-o-up box-icon-inline round" href="#"></a><b class="text-color"> 18</b>#}
{#                </p>#}

            </div>
        </div>
    </div>
</li>