{% load static %}
{% load i18n %}
{% load stars_rating %}
{% load utils_tags %}


<li>
    <div class="row">
        <div class="col-md-2">
            <div class="booking-item-review-person">
                <a href="{% url 'guide_new' review.order.guide.user.generalprofile.first_name review.order.guide.user.generalprofile.uuid 'new' %}">
                    <img src="{% get_sized_image review.order.guide default_size="small" image_base_field_name="profile_image" %}"/>
                    <div class="guide-name">
                        {{ review.order.guide.user.generalprofile.get_name }}
                    </div>
                </a>
                {% if review.order.guide.city.country %}
                    <div class="booking-item-review-person-loc text-center">
                        {{ review.order.guide.city.country.name }}
                    </div>
                {% endif %}
{#                <small>#}
{#                    {{ review.order.guide.orders_with_review_nmb }} {% blocktrans %}Reviews{% endblocktrans %}#}
{#                </small>#}
            </div>
        </div>
        <div class="col-md-10">
            <div class="booking-item-review-content">
{#                <ul class="icon-group booking-item-rating-stars">#}
                <ul class="icon-list icon-group booking-item-rating-stars">
                    {{ review.guide_rating|rendering_stars|safe }}
                </ul>

                {% if review.guide_feedback_name %}
                    <h5>{{ review.guide_feedback_name }}</h5>
                {% endif %}

                <div class="mt5">
                    {{ review.guide_feedback_text|safe|linebreaks }}
                </div>

{#                <p class="booking-item-review-rate">{% blocktrans %}Was this review helpful?{% endblocktrans %}#}
{#                    <a class="fa fa-thumbs-o-up box-icon-inline round" href="#"></a><b class="text-color"> 18</b>#}
{#                </p>#}

            </div>
        </div>
    </div>
</li>