{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container">
            <h1 class="page-title">Account Settings</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="user-profile-sidebar">
                        <div class="user-profile-avatar text-center">
                            {% if request.session.current_role == "guide" %}
                                {% if user.guideprofile.profile_image %}
                                    <img class=""
                                         src="{{ user.guideprofile.profile_image.url }}"
                                         alt="" title="" />
                                {% else %}
                                    <img src="{% static 'img/300x300.png' %}" alt="" title="">
                                {% endif %}
                            {% else %}
                                {% if user.touristprofile.image %}
                                    <img class=""
                                         src="{{ user.touristprofile.image.url }}"
                                         alt="" title="" />
                                {% else %}
                                    <img src="{% static 'img/300x300.png' %}" alt="" title="">
                                {% endif %}
                            {% endif %}

                            <h5>{{ user.username }}</h5>

                            <p>Member Since {{ user.date_joined|date:"M Y"}}</p>

                            {% if request.session.current_role == "tourist" and request.user.guideprofile %}
                                <a href="{% url 'change_role_settings' 'guide' %}">Switch to Guide Profile</a>
                            {% elif not request.session.current_role and request.user.guideprofile %}
                                <a href="{% url 'change_role_settings' 'guide' %}">Switch to Guide Profile</a>
                            {% elif request.session.current_role == "guide" %}
                                 <a href="{% url 'change_role_settings' 'tourist' %}">Switch to Tourist Profile</a>
                            {% endif %}

                        </div>
                        <ul class="list user-profile-nav">


                            {% if request.session.current_role == "tourist" or not request.session.current_role %}
                                <li {% if page == "profile_settings_tourist" %}class="active"{% endif %}><a href="{% url 'profile_settings_tourist' %}">
                                    <i class="fa fa-cog"></i>Tourist Profile Settings</a>
                                </li>

                                <li {% if page == "general_settings" %}class="active"{% endif %}><a href="{% url 'general_settings' %}">
                                    <i class="fa fa-cog"></i>General Settings</a>
                                </li>

                                <li><a href="user-profile-cards.html"><i class="fa fa-credit-card"></i>Credit/Debit Cards</a>
                                </li>

                                <li><a href="/"><i class="fa fa-camera"></i>My Travel Photos</a>
                                </li>

                                <li><a href="user-profile-booking-history.html"><i class="fa fa-clock-o"></i>Booking History</a>
                                </li>

                                <li><a href="user-profile-wishlist.html"><i class="fa fa-heart-o"></i>Wishlist</a>
                                </li>
                            {% endif %}


                            {% if request.session.current_role == "guide" %}
                                <li {% if page == "profile_settings_guide" %}class="active"{% endif %}><a href="{% url 'profile_settings_guide' %}">
                                    <i class="fa fa-cog"></i>Guide Profile Settings</a>
                                </li>

                                <li {% if page == "general_settings" %}class="active"{% endif %}><a href="{% url 'general_settings' %}">
                                    <i class="fa fa-cog"></i>General Settings</a>
                                </li>

                                <li {% if page == "settings_tours" %}class="active"{% endif %}><a href="{% url 'guide_settings_tours' %}"><i class="fa fa-cog"></i>Tours</a>
                                </li>

                                <li {% if page == "settings_orders" %}class="active"{% endif %}><a href="{% url 'guide_settings_orders' %}"><i class="fa fa-cog"></i>Orders</a>
                                </li>

                                <li><a href="user-profile-cards.html"><i class="fa fa-cog"></i>Payments history</a>
                                </li>


                                <li><a href="user-profile-cards.html"><i class="fa fa-credit-card"></i>Credit/Debit Cards</a>
                                </li>


                            {% endif %}


                        </ul>
                    </aside>
                </div>

                {% block content_profile %}
                {% endblock content_profile %}

            </div>
        </div>

        <div class="gap"></div>

{% endblock content %}

