{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% load utils_tags %}

        <div class="container">
{#            <h1 class="page-title">{% blocktrans %}Account Settings{% endblocktrans %}</h1>#}

            <div class="gap gap-small"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <aside class="user-profile-sidebar">
                        <div class="user-profile-avatar text-center">
                            {% if request.session.current_role == "guide" %}
                                <img class="" name='dimg' src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                     data-src="{% get_sized_image user.guideprofile default_size="small" image_base_field_name="profile_image" %}"
                                 alt="" title="" />
                            {% else %}
                                {% if user.touristprofile.image %}
                                    <img class="" name='dimg' src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                         data-src="{{ user.touristprofile.image.url }}"
                                     alt="" title="" />
                                {% else %}
                                    <img src="">
                                {% endif %}
                            {% endif %}

                            <h5>{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h5>

                            <p>{% trans 'Member Since' %} {{ user.date_joined|date:"M Y"}}</p>

                            {% if request.session.current_role == "tourist" and request.user.guideprofile %}
                                <a href="{% url 'change_role_settings' 'guide' %}">{% blocktrans %}Switch to Guide Profile{% endblocktrans %}</a>
                            {% elif not request.session.current_role and request.user.guideprofile %}
                                <a href="{% url 'change_role_settings' 'guide' %}">{% blocktrans %}Switch to Guide Profile{% endblocktrans %}</a>
                            {% elif request.session.current_role == "guide" %}
                                 <a href="{% url 'change_role_settings' 'tourist' %}">{% blocktrans %}Switch to Tourist Profile{% endblocktrans %}</a>
                            {% endif %}

                        </div>
                        <ul class="list user-profile-nav">


                            {% if request.session.current_role == "tourist" or not request.session.current_role %}
                                <li {% if page == "profile_settings_tourist" %}class="active"{% endif %}><a href="{% url 'profile_settings_tourist' %}">
                                    <i class="fa fa-user"></i>{% blocktrans %}Tourist Profile Settings{% endblocktrans %}</a>
                                </li>

                                <li {% if page == "general_settings" %}class="active"{% endif %}><a href="{% url 'general_settings' %}">
                                    <i class="fa fa-cog"></i>{% blocktrans %}General Settings{% endblocktrans %}</a>
                                </li>

                                <li {% if page == "payment_methods" %}class="active"{% endif %}>
                                    <a href="{% url 'payment_methods' %}">
                                        <i class="fa fa-credit-card"></i>
                                        {% blocktrans %}Credit/Debit Cards{% endblocktrans %}
                                    </a>
                                </li>

                                <li {% if page == "profile_travel_photos" %}class="active"{% endif %}>
                                    <a href="{% url 'travel_photos' %}"><i class="fa fa-camera"></i>
                                        {% blocktrans %}My Travel Photos{% endblocktrans %}
                                    </a>
                                </li>

                                <li {% if page == "settings_orders" %}class="active"{% endif %}>
                                    <a href="{% url 'tourist_settings_orders' %}">
                                        <i class="fa fa-cog"></i>
                                        {% blocktrans %}Bookings history{% endblocktrans %}
                                    </a>
                                </li>

                                <li {% if page == "payments" %}class="active"{% endif %}>
                                    <a href="{% url 'payments' %}">
                                        <i class="fa fa-cog"></i>
                                        {% blocktrans %}Payments{% endblocktrans %}
                                    </a>
                                </li>
                                <li {% if page == "promotions" %}class="active"{% endif %}>
                                    <a href="{% url 'promotions' %}">
                                        <i class="fa fa-star"></i>
                                        {% blocktrans %}Promotions{% endblocktrans %}
                                    </a>
                                </li>
                            {% endif %}


                            {% if request.session.current_role == "guide" %}
                                <li {% if page == "profile_settings_guide" %}class="active"{% endif %}><a href="{% url 'profile_settings_guide' %}">
                                    <i class="fa fa-user"></i>{% blocktrans %}Guide Profile Settings{% endblocktrans %}</a>
                                </li>
                                <li {% if page == "profile_questions_guide" %}class="active"{% endif %}><a href="{% url 'profile_questions_guide' %}">
                                    <i class="fa fa-user"></i>{% blocktrans %}Guide Profile Questions{% endblocktrans %}</a>
                                </li>
                                <li {% if page == "identity_verification" %}class="active"{% endif %}>
{#                                    <a href="{% url 'identity_verification_router' %}" #}
                                    <a data-balloon="Identity Verifications are undergoing updates.
                                    In the mean time if you are interested in getting a verified badge
                                    please send your tour guide licence along with your username to customer support." data-balloon-length='large' data-balloon-pos="down-right">
                                        <i class="fa fa-cog"></i>{% blocktrans %}Identity verification{% endblocktrans %}
                                    </a>
                                </li>
                                <li {% if page == "guide_payouts" %}class="active"{% endif %}>
                                    <a href="{% url 'guide_payouts' %}">
                                        <i class="fa fa-university"></i>
                                        {% blocktrans %}Payout preferences{% endblocktrans %}
                                    </a>
                                </li>

                                <li {% if page == "general_settings" %}class="active"{% endif %}>
                                    <a href="{% url 'general_settings' %}">
                                        <i class="fa fa-cog"></i>{% blocktrans %}General Settings{% endblocktrans %}
                                    </a>
                                </li>

{#                                <li {% if page == "calendar" %}class="active"{% endif %}><a href="{% url 'guide_calendar' %}">#}
{#                                    <i class="fa fa-calendar"></i>{% blocktrans %}Schedule / Availability{% endblocktrans %}</a>#}
{#                                </li>#}

                                <li {% if page == "settings_tours" %}class="active"{% endif %}>
                                    <a href="{% url 'guide_settings_tours' %}">
                                        <i class="fa fa-users"></i>
                                        {% blocktrans %}Tours{% endblocktrans %}</a>
                                </li>

                                <li {% if page == "settings_orders" %}class="active"{% endif %}>
                                    <a href="{% url 'guide_settings_orders' %}">
                                        <i class="fa fa-cog"></i>
                                        {% blocktrans %}Orders{% endblocktrans %}</a>
                                </li>

                                <li {% if '/earnings' in request.path  %}class="active"{% endif %}>
                                    <a href="{% url 'earnings' %}"><i class="fa fa-usd"></i>
                                        {% blocktrans %}Earnings{% endblocktrans %}
                                    </a>
                                </li>
                                <li {% if page == "payment_methods" %}class="active"{% endif %}>
                                    <a href="{% url 'payment_methods' %}">
                                        <i class="fa fa-credit-card"></i>
                                        {% blocktrans %}Credit/Debit Cards{% endblocktrans %}
                                    </a>
                                </li>
                                <li {% if page == "promotions" %}class="active"{% endif %}>
                                    <a href="{% url 'promotions' %}">
                                        <i class="fa fa-star"></i>
                                        {% blocktrans %}Promotions{% endblocktrans %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </aside>
                </div>

                {% block content_profile %}
                {% endblock content_profile %}

            </div>
        </div>

        <div class="gap"></div>

{% endblock content %}

