{% load static %}
<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-3">
                <a class="logo" href="/">
                    <img src="{% static 'img/tourzan_logo.png' %}" class="footer-logo"
                         alt="Tourzan logo" title="Tourzan logo" />

                </a>
                <h4>Tourzan</h4>
                <p class="mb20">
                    Book local guide, while travelling!
                </p>
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.facebook.com/tourzanHQ/" target="_blank"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.twitter.com/tourzanhq" target="_blank"></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.instagram.com/tourzanhq/" target="_blank"></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Newsletter</h4>
                <form>
                    <label>Enter your E-mail Address</label>
                    <input type="text" class="form-control">
                    <p class="mt5"><small>*We Never Send Spam</small>
                    </p>
                    <input type="submit" class="btn btn-primary" value="Subscribe">
                </form>
            </div>
            <div class="col-md-2">
                <ul class="list list-footer">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>

                    <li><a href="#">About US</a>
                    </li>
                    <li><a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Have Questions?</h4>
                <h4 class="text-color">+1-202-555-0173</h4>
                <h4><a href="#" class="text-color">support@tourzan.com</a></h4>
                <p>24/7 Dedicated Customer Support</p>
            </div>

        </div>
    </div>
</footer>