{% load static %}
{% load i18n %}

<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                <a class="logo" href="/">
                    <img src="{% static 'img/tourzan_logo.png' %}" class="footer-logo"
                         alt="Tourzan logo" title="Tourzan logo" />

                </a>
                <h4>Tourzan</h4>
                <p class="mb20">
                    {% blocktrans %}Book local guides, while travelling!{% endblocktrans %}
                </p>
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.facebook.com/tourzanHQ/" target="_blank"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.twitter.com/tourzanhq" target="_blank"></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.instagram.com/tourzanhq/" target="_blank"></a>
                    </li>
                    <li>
                        <a class="fa fa-youtube box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.youtube.com/channel/UCFjdoTb1c5G0D_e2P7sm9GQ" target="_blank"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top"
                           href="https://www.pinterest.com/tourzan/" target="_blank"></a>
                    </li>
                </ul>
            </div>

{#            <div class="col-md-3">#}
{#                <h4>{% blocktrans %}Newsletter{% endblocktrans %}</h4>#}
{#                <form>#}
{#                    <label>{% blocktrans %}Enter your E-mail Address{% endblocktrans %}</label>#}
{#                    <input type="text" class="form-control">#}
{#                    <p class="mt5"><small>*{% blocktrans %}We Never Send Spam{% endblocktrans %}</small>#}
{#                    </p>#}
{#                    <input type="submit" class="btn btn-primary" value="Subscribe">#}
{#                </form>#}
{#            </div>#}
            <div class="col-md-3 col-sm-3 col-xs-3">
                <ul class="list list-footer">
                    <li>
                        <a href="{% url 'blog' %}">
                            <p class="lead">{% blocktrans %}Blog{% endblocktrans %}</p>
                        </a>
                    </li>
                    <li><a href="{% url 'privacy_policy' %}">{% blocktrans %}Privacy Policy{% endblocktrans %}</a>
                    </li>
                    <li><a href="{% url 'tos' %}">{% blocktrans %}Terms of Service{% endblocktrans %}</a>
                    </li>
                    <li><a href="{% url 'about_us' %}">{% blocktrans %}About Us{% endblocktrans %}</a>
                    </li>
                    <li><a href="{% url 'contact_us' %}">{% blocktrans %}Contact US{% endblocktrans %}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-5">
                <h4>{% blocktrans %}Have Questions?{% endblocktrans %}</h4>
                <h4><a href="#" class="text-color">contactus@tourzan.com</a></h4>
                <p>{% blocktrans %}Dedicated customer support will make sure your needs are met{% endblocktrans %}</p>
            </div>

        </div>
    </div>
</footer>