{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<header id="main-header">
    <div class="header-top header-white">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="navbar-header">
                        <div class="navbar-brand no-padding">

                            <a class="navbar-brand navbar-logo" href="/">
                                <span>
                                    <img src="{% static 'img/tourzan_logo_white.jpg' %}" class="navbar-logo"
                                     alt="Tourzan logo" title="Tourzan logo" />
                                </span>
                            </a>
                            <div class="pull-left navbar-logo-text">
                                <a href="{% url 'home' %}">Tourzan</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="nav nav-menu">
                        <ul class="slimmenu top-menu" id="slimmenu">
                            <li class="{% if current_page == "home" %}active{% endif %}">
                                <a href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="{% if current_page == "guides" %}active{% endif %}">
                                <a href="{% url 'guides' %}">GUIDES</a>
                            </li>

                            <li class="{% if current_page == "tours" %}active{% endif %}">
                                <a href="{% url 'tours' %}">TOURS</a>
                            </li>

                            {% if not user.is_anonymous %}
                                {% if request.session.current_role == "tourist" or not request.session.current_role %}
                                    <li><a href="{% url 'my_bookings' %}">My Bookings</a>
                                        <ul>
                                            <li><a href="{% url 'my_bookings_status' 'pending' %}">Pending</a>
                                            </li>
                                            <li><a href="{% url 'my_bookings_status' 'waiting-for-payment'%}">Waiting for payment</a>
                                            </li>
                                            <li><a href="{% url 'my_bookings_status' 'agreed' %}">Agreed</a>
                                            </li>
                                            <li><a href="{% url 'my_bookings_status' 'cancelled-by-tourist' %}">Cancelled by me</a>
                                            </li>
                                            <li><a href="{% url 'my_bookings_status' 'cancelled-by-guide' %}">Cancelled by guide</a>
                                            </li>
                                            <li><a href="{% url 'my_bookings_status' 'completed' %}">Completed</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'orders' %}">Orders</a>
                                        <ul>
                                            <li><a href="{% url 'orders_status' 'pending' %}">Pending</a>
                                            </li>
                                            <li><a href="{% url 'orders_status' 'waiting-for-payment'%}">Waiting for payment</a>
                                            </li>
                                            <li><a href="{% url 'orders_status' 'agreed' %}">Agreed</a>
                                            </li>
                                            <li><a href="{% url 'orders_status' 'cancelled-by-tourist' %}">Cancelled by tourist</a>
                                            </li>
                                            <li><a href="{% url 'orders_status' 'cancelled-by-guide' %}">Cancelled by me</a>
                                            </li>
                                            <li><a href="{% url 'orders_status' 'completed' %}">Completed</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}


                                <li><a href="{% url 'chats' %}">Chats</a>


                                <li>
                                    <a href="{% url 'settings_router' %}">
                                        {% if request.session.current_role == "tourist" or not request.session.current_role %}
                                            Tourist Settings
                                        {% else %}
                                            Guide Settings
                                        {% endif %}
                                    </a>
                                    <ul>
                                        {% if request.session.current_role == "tourist" or not request.session.current_role %}
                                            <li><a href="{% url 'profile_settings_tourist' %}">Profile</a>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url 'profile_settings_guide' %}">Profile</a>
                                            </li>
                                        {% endif %}

                                        <li><a href="{% url 'general_settings' %}">Account</a>
                                        </li>

                                        <li>
                                            {% if request.session.current_role == "tourist" or not request.session.current_role %}
                                                {% if user.guideprofile %}
                                                    <a href="{% url 'change_role' %}">
                                                        Switch to Guide
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'profile_settings_guide' %}">
                                                        Want to be a guide?
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{% url 'change_role' %}">
                                                    Switch to Tourist
                                                </a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            {% if user.is_anonymous %}
                                <li><a href="{% url 'login' %}">Log In</a>
                            {% else %}
                                <li class="top-user-area-avatar">
                                    <a href="{% url 'settings_router' %}">
                                        Hi, {{ request.user.username }}
                                    </a>
                                </li>
                                <li><a href="{% url 'logout' %}">Logout</a>
                                </li>
                            {% endif %}

                            <li class="top-user-area-lang nav-drop">

                                <a href="#" class="change-language-link">
                                    {{ LANGUAGE_CODE }}<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                </a>


                                <ul class="list nav-drop-menu">
                                    {% for language in languages %}
                                        {% if language.code != LANGUAGE_CODE %}
                                            <li>
                                                <a href="{% url 'set_language' language.code %}" class="change-language-link">
                                                    {{ language.code }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                </ul>
                            </li>

                            {% if not user.is_anonymous %}
                                <li>
                                    {% if request.session.current_role == "tourist" or not request.session.current_role %}
                                        <span class="">Tourist</span>
                                    {% else%}
                                        <span class="">Guide</span>
                                    {% endif %}
                                    <a href="{% url 'change_role' %}">
                                        <i class="fa fa-exchange" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>