.btn-primary {
    background: #31dc72;
    border-color: #169e49;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #4cb173;
    border-color: #169e49;
}

.btn-group-select-num > .btn.active, .btn-group-select-num > .btn.active:hover {
    background: #31dc72;
    border-color: #169e49;
}

.box-icon, [class^="box-icon-"], [class*=" box-icon-"] {
    background: #7ca88d;
}

.box-icon:hover,
[class^="box-icon-"]:hover,
[class*=" box-icon-"]:hover {
    background: #31dc72;
    color: #fff;
}

header#main-header {
    border-bottom: 2px solid #31dc72;
}

ul.slimmenu li.active > a, ul.slimmenu li:hover > a {
    background: #31dc72;
}

.search-tabs-bg > .tabbable > .nav-tabs > li.active > a {
    background: #169e49;
}

.search-tabs-bg > .tabbable > .nav-tabs > li > a:hover > .fa {
    background: #169e49;
}

.user-profile-sidebar .user-profile-nav > li.active > a,
.user-profile-sidebar .user-profile-nav > li.active > a:hover{
    background: #31dc72;
}

.user-profile-sidebar .user-profile-nav > li > a:hover > i {
  color: #31dc72;
}

.nav-drop > .nav-drop-menu > li > a:hover {
  background: #31dc72;
}