{% load static %}
<div class="mfp-with-anim mfp-hide mfp-dialog" id="writing_feedback_modal">
    <h3 class="mb0">Feedback for tourist</h3>
    <form id="feedback_form" class="form-horizontal" method="post" action="{% url 'saving_review' %}">
        {% csrf_token %}

        <input id="order_id" class="hidden" name="order_id">

        <div class="form-group">
            <label>Review Title</label>
            <input class="form-control" name="title">
        </div>

        <div class="form-group">
            <label>Feedback Text</label>
            <textarea rows="5" class="form-control" name="feedback"></textarea>
        </div>

        <div class="form-group">
            <label>Put your score here</label>
            <input type="number" step="0.1" value="5" required
                    id="rating" class="form-control"
                   name="rating">
        </div>


        <div class="form-group text-right">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>

    </form>
</div>