#form_tour_scheduling{
    padding: 5px 10px;
}

.mini-container{
    margin: 5px;
}

.btn-booking{
    margin-top: 15px;
}

#amount_container{
    margin-top: 10px;
}

.booking-item-dates-change{
    position: relative;
}

.booking-result-message{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
}

.tour-booking-price{
    font-size: 14px;
}

.booking-item-title{
    font-size: 20px;
}

.tour-name, .item-name{
    font-size: 20px;
}

.tour-guide-name{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
}

.tour-rating, .guide-rate, .guide-rating{
    font-size: 16px;
    margin-bottom: 5px;
}

.tour-details .tour-price {
    font-size: 30px;
    margin-bottom: 20px;
}


.chat-container{
    margin: 10px 0;
    padding: 10px;
}

.chat-item{
    margin-bottom: 10px;
}

.chat-item.single-chat{
    margin-top: 10px;
}

.chat-message{
    margin: 10px 0;
    padding: 5px 10px 15px 10px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-align: left!important;
}

.chat-message.system{
    background: #59abc3;
    color: white;
}

.chat-message.system .chat-message-text{
    font-size: 1.2em;
}

.chat-message img{
    width: auto;
}

.emoticons-container img{
    width: auto;
}

.emoticons-container .emoticon{
    cursor: pointer;
}


.message-meta-info{
    font-size: 12px;
    font-style: italic;
}

.chat-message-text{
    padding-left: 3px;
    font-size: 14px;
}

#chat_message_form textarea{
    width: 100%;
}

#messages_area{
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 10px;
}

.alert-general{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    opacity: 1;
    z-index: 5000;
}

.user-profile-sidebar .user-profile-nav > li.active > a {
    cursor: pointer;
}

.guide-image-small{
    height: 200px;
    width: auto;
}

.avatar-image-x-small{
    height: 100px;
    width: auto;
}

.label-sm {
  font-size: 12px;
}

.label-md {
  font-size: 16px;
}

.label-lg {
  font-size: 20px;
}

.top-menu{
    text-align: center;
}

.select2-selection.select2-selection--multiple,
.select2-selection__choice{
    color: black;
}

.label-tag{
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
}

.header-white{
    background-color: white;
}

.header-white .top-user-area .top-user-area-list > li > a{
    color: black;
}

.navbar-logo{
    width: 50px!important;
}

.logo-md{
    width: 90px;
}

.logo-lg{
    width: 150px;
}

.footer-logo{
    width: 100px!important;
}

.form-error-text{
    color: red;
}

.alert{
    z-index: 1000;
}

.navbar-logo{
    padding: 0;
}

.no-padding{
    padding: 0;
}

.navbar-logo-text{
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.navbar-logo-text a,
.navbar-logo-text a:hover{
    color: #31dc72;
}

.booking-item,
.booking-item:hover,
.tour-item,
.tour-item:hover{
    cursor: auto;
    border: 1px solid #ede7e7;
}

.tour-item{
    display: block;
    position: relative;
    padding: 17px;
    color: #737373;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 30px;
}

.booking-item{
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 30px;
}

.booking-item.booking-item-small .booking-item-price {
    font-size: 15px;
}

.profile-info-top {
    padding: 20px;
    margin-top: 15px;
}

#feedback_form #rating{
    width: 100px;
}

.select2-selection{
    min-height: 35px;
    border: solid black 1px;
}

.select2-selection__arrow{
    display: none;
}

.w100{
    width: 100px
}

.table-center th,
.table-center td{
    text-align: center;
}

.payment-summary{
    border: 1px solid black;
    padding: 30px 20px 30px 20px;
    position: relative;
}

.tr-last td{
    padding-top: 20px;
}

.tr-mb20{
    padding-bottom: 20px;
}

.is-paid-container{
    text-align: right;
    background-color: #169e49;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 2px 5px;
}

a.link_lead,
a.link_lead:hover,
a.link_lead:active{
    color: #1476ab;
}

.service_item_container td{
    padding-right: 10px;
}

.service_item_container .input-icon {
    top: 2px!important;
}

.w150{
    width: 150px;
}


.text-success{
    color: #31dc72;
}

.text-error, .errorlist{
    color: red;
}

.text-error ul, .errorlist {
    list-style: none;
    margin-left: -40px;
}

select{
    padding: 5px 5px 5px 3px!important;
}


.select2-container .select2-selection__rendered{
    padding: 3px 5px 5px 8px;
    font-size: 14px;
}



select.hide-arrow{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.phone-area .phone-code,
.phone-area .phone-number{
    display: inline-block;
    vertical-align: top;
}

.phone-area .phone-code{
    width: 25%;
    margin-right: 4.5%;
}

.phone-area .phone-number{
    width: 70%;
}

.btn-default-payment-method.active, .btn-default-payment-method:hover, .btn-default-payment-method:active{
    background-color: #31dc72!important;
    color: white!important;
    border-color: #31dc72!important;
    -webkit-box-shadow: 0 0 0 1px #31dc72!important;
    box-shadow: 0 0 0 1px #31dc72!important;
}

.btn-delete-payment-method:hover, .btn-delete-payment-method:active{
    background-color: red!important;
    color: white!important;
    border-color: red!important;
    -webkit-box-shadow: 0 0 0 1px red!important;
    box-shadow: 0 0 0 1px red!important;
}


.select2-selection--multiple {
    border-radius: 0!important;
    height: 44px!important;
    border: 1px solid #ccc!important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #31dc72!important;
}

.div-input-icon{
    position: relative;
}

.div-input-icon .input-icon{
    top: 0;
}

footer#main-footer {
    font-size: 14px;
    position: relative;
    z-index: 200;
}

.slimmenu-menu-collapser {
    background-color: transparent;
}

.slimmenu-collapse-button {
    border: 1px solid #31dc72;
    border-radius: 0;
}

.slimmenu-collapse-button .slimmenu-icon-bar {
    background-color: #31dc72;
}

.booking-filters-container{
    position: absolute;
    z-index: 100;
    top: 180px;
    left: 0;
    padding-left: 5%;
    transition: 1s all;
    width: 100%;
    border-radius: 0;
}

.booking-filters-container .booking-filters{
    position: absolute;
    border-radius: 0;
}

.booking-filters-container.closed .booking-filters{
    left: -500px;
    padding-left: 0;
    transition: 1s all;
}

.booking-filters-container.sticky-top .booking-filters{
    top: 0;
}

.left-menu-toggle-button{
    position: absolute;
    top: 17px;
    color: black;
    z-index: 150;
    left: 263px;
    visibility: hidden;
    width: 100px;
}

.booking-filters-container.closed .left-menu-toggle-button{
    left: 0;
}

.slimmenu-menu-collapser .navbar-brand{
    padding-left: 30px!important;
}

.slimmenu-menu-collapser .navbar-logo-text{
    padding-left: 30px;
}

.seacrch-results-container{
    min-height: 1000px;
}

.table-calendar{
    /*table-layout: fixed;*/
    width: 100%;
    margin-top: 15px;
}

.table-calendar thead th{
    padding: 1px!important;
    white-space: nowrap;
}

.day-title{
    width: 100px;
}

.time-title{
    /*-moz-transform: rotate(-90deg);  !* Firefox *!*/
    /*-o-transform: rotate(-90deg);  !* Opera *!*/
    /*-webkit-transform: rotate(-90deg);  !* Safari y Chrome *!*/
    transform:
    /* Magic Numbers */
    translate(3px, -5px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}

.table-calendar tbody > tr .calendar-item{
    text-align: center;
    width: 10px;
    cursor: pointer;
    background-color: #dadada;
}

.table-calendar tbody > tr > td{
    border: 1px solid white;
}

.table-calendar tbody > tr > td.calendar-item.available {
    background-color: #bdf0bd;
}

.table-calendar tbody > tr > td.calendar-item.calendar-item.booked{
    background-color: #5adc72;
}

.table-calendar tbody > tr > td.calendar-item.calendar-item.disabled {
   background-color: #dadada;
}

.table-calendar thead{
    border-top: 2px solid white!important;
    border-left: 2px solid white!important;
    border-right: 2px solid white!important;
}

.time-slots-container{
    text-align: left;
    color: white;
    margin-bottom: 10px;
}

.time-slots-container .time-slot{
    display: inline-block;
    background-color: grey;
    border-radius: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.time-slots-container .time-slot.chosen{
    background-color: #5adc72;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
}

.text-black{
    color: black!important;
}

fieldset.verification-form{
    border: 1px solid #ddd !important;
    margin: 0 0 15px 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}

fieldset.verification-form legend {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0;
    width: 55%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #31dc72;
    color: white;
}

.thumb{
    text-align: center;
}

.navbar-brand{
    color: #31dc72!important;
    font-size: 20px;
    font-weight: 700;
}

.navbar li.active a{
    /*background: #70fca5 !important;*/
    background-color: #7beda7 !important;
    color: white!important;
    font-size: 18px;
}

.nav-drop .fa-angle-down {
    position: relative;
    line-height: inherit;
    font-size: 90%;
    opacity: 0.7;
    padding-left: 12px;
}

.nav-drop.active-drop .fa-angle-up {
    top: 15px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    right: 0;
}

.nav-drop.active-drop > .nav-drop-menu {
    position: relative;
    height: 100%;
}

.navbar-collapse.in {
    height: auto;
    max-height: 100vh;
    overflow: hidden;
}

a{
    outline:none!important;
}

.select2-container {
    width: 100%
}

.navbar{
    padding-top: 15px;
    /*border-bottom: 1px solid #31dc72;*/
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 7px;
    background-color: white;
    margin-bottom: 0;
}

.top-area.show-onload{
    /*min-height: 700px;*/
    max-height: 450px;
}

.navbar-brand{
    margin-left: 0;
}

.answer-container{
    margin-bottom: 30px;
}

.social-networks{
    margin-bottom: 10px;
}

.booking-item-dates-change{
    margin-bottom: 10px;
}

.booking-proposal-container{
    padding-right: 10px;
    font-size: 18px;
    z-index: 1000;
}

.booking-proposal-container .panel{
    background-color: #fdfdfd;
    border-color: #ddd;
}

.booking-proposal-container a,
.booking-proposal-container button{
    width: 100%;
}

.guide-action-container{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 1000;
    text-align: center;
}

.guide-action-container>div{
    display: inline-block;
}

.guide-action-container .main-buttons{
    width: 100%;
    display: block;
    text-align: left;
    margin-left: 20px;
}

.guide-action-container .scroll-top-container{
    position: absolute;
    right: 20px;
    top: 0;
}

.date-today{
    background: red;
    color: white;
}

.date-hard-to-process{
    background: #ffff56;
}

.day:not(.date-today),
.day:not(.date-hard-to-process){
    cursor: pointer;
}

.dow-clickable.active > div{
    background-color: #0e8534;
    color: white;
}

.fa.square-red{
    color: red;
}

.fa.square-yellow{
    color: #ffff56;
}

.homepage-form .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding: 5px 18px!important;
}

.select2-container--open{
    width: auto;
}

.select2-search__field{
    color: #555555;
}

#postcode[type="number"]::-webkit-outer-spin-button,
#postcode[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#postcode[type="number"] {
    -moz-appearance: textfield;
}

.btn-delete-photo{
    color: red!important;
}

.tour-section{
    height: 400px;
    background-color: #f0f0f0;
    padding: 0;
    color: white;
    font-size: 18px;
}

.tour-section .container-information{
    position: relative;
    z-index: 6;
}

.tour-section .notification{
    text-align: center;
    font-size: 20px;
}

.tour-section.hero-section{
    color: white;
    font-size: 48px;
    background-color: #0a97c2;
    min-height: 90vh;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    font-weight: 100;
}

.tour-section.hero-section .title{
    margin-top: 120px;
    font-size: 80px;
    line-height: 1;
}

.tour-section.hero-section .tour-description{
    font-size: 30px;
    line-height: 1.1;
    margin-top: 20px;
}


.tour-section.tour-program-description{
    /*background-color: #6587dd;*/
    background-color: white;
    color: black;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 100;
    padding: 80px;
    height: auto;

}

.tour-section.tour-included{
    color: white;
    height: auto;
    min-height: 400px;
    padding: 50px 0;
}

.tour-included-items-container{
}

.tour-included-items-container .title{
    background-color: #00a743;
    font-size: 24px;
    text-align: center;
    padding: 25px 15px;
}

.tour-included-items-container .tour-included-item{
    background-color: #1ace84;
    border: 2px solid #00a743;
    padding: 20px;
}

.tour-included-items-container, .tour-excluded-items-container{
    font-size: 18px;
}

.tour-excluded-items-container{
    margin-top: 30px;
}

.tour-excluded-items-container .title{
    background-color: #6b6363e6;
    font-size: 24px;
    text-align: center;
    padding: 25px 15px;
}

.tour-excluded-items-container .tour-excluded-item{
    background-color: #b9b9b9;
    border: 2px solid #bdb6b6e6;
    padding: 20px;
}

.tour-section.tour-program-items{
    /*background-color: #f7d049;*/
    /*background-color: #1ace84;*/
    background-color: #6587dd;
    color: black;
    height: auto;
}

.tour-program-items .title{
    text-align: center;
    font-size: 44px;
    padding: 25px 15px;
    margin-bottom: 20px;
    color: white;
}

.tour-program-items .tour-program-item{
    background-color: white;
    margin-bottom: 25px;
}

.tour-program-items .tour-program-item .title{
    font-size: 24px;
    color: black;
}

.tour-program-item .content{
    min-height: 180px;
    padding: 10px 25px 20px 25px;
}

.tour-program-item .img-container{
    min-height: 342px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
}


.circle{
    border-radius: 50%;
}

.circle.circle-time{
    width: 70px;
    height: 70px;
    background: #fb3434;

    position: absolute;
    bottom: -20px;
    color: white;
    font-weight: 700;
    padding: 24px 12px;

    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tour-available-dates{
    color: black;
    height: auto!important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tour-available-dates .title{
    color: black;
    text-align: center;
    font-size: 44px;
    padding: 25px 15px;
    margin-bottom: 20px;
}

.scheduled-tour:not(:last-child){
    margin-bottom: 20px;
}

.scheduled-tour .tour-title{
    font-weight: 700;
    font-size: 28px;
    color: black;
    margin-bottom: 25px;
}

.scheduled-tour .tour-details{
    background-color: #f7d049;
    padding: 20px;
}

.scheduled-tour .tour-details .info-title{
    font-size: 24px;
    text-transform: uppercase;
}

.scheduled-tour .tour-details .tour-date{
    font-size: 18px;
    font-weight: 700;
}

.scheduled-tour .tour-details .available-seats{
    font-size: 22px;
    font-weight: 700;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tour-section.tour-pictures{
    background-color: #1ace84;
    height: auto;
}

.tour-section.tour-pictures .title{
    text-align: center;
    font-size: 44px;
    padding: 25px 15px;
    margin-bottom: 20px;
}

.tour-section.tour-booking-form{
    padding: 30px;
    color: black;
}

.tour-section.tour-booking-form .title{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: black;
    margin-bottom: 25px;
}

.checkout-lead-row{
    border: 2px solid #31dc72;
}

.checkout-lead-row td:first-child{
    padding: 3px;
}

.tour-section.tour-reviews{
    color: black;
    height: 550px;
    min-height: 550px;
    padding: 100px;
    background-color: white;
}

.tour-section.tour-reviews .title{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: black;
    margin-bottom: 25px;
}

.tour-section.tour-reviews .owl-carousel{
    /*background-color: #ffec81;*/
    background-color: #f3f3f3;
    padding: 50px;
    color: black;
}

.tour-section.tour-reviews .owl-carousel .review-title{
    font-size: 22px;
}

.tour-section.tour-reviews .owl-carousel .review-text{

}

.tour-section.tour-reviews .owl-carousel .owl-nav{
    text-align: center;
}

.tour-section.tour-reviews .owl-carousel .booking-item-rating-stars{
    color: #18aa24;
}

.tour-booking-form{
    padding: 80px 0!important;
    height: auto!important;
    background-color: #e0e0e0;
}

.booking-item-review-content .icon-list .fa{
    margin-right: 0;
    color: #36a230;
}

.page-tabs li.active,
.page-tabs li.active a,
.page-tabs li.active a:hover,
.page-tabs li.active a:focus,
.page-tabs li a:hover,
.page-tabs li a:focus{
    background: #31dc72;
    color: white;
    border-left: none!important;
    border-right: none !important;
    border-bottom: none !important;
}

.tour-edit{
    padding: 10px;
}

.page-tabs > li > a{
    margin-right: 0!important;
}

.page-tabs > li, .page-tabs > li:hover{
    margin-right: 2px!important;
}

.page-tabs > li > a.is-disabled{

}

.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.menu-navigation {
    border-bottom: 1px solid #dddddd;
}
.menu-navigation ul{
    display: inline-block;
    border-bottom: none!important;
}


.w100{
    width: 100px;
}

.w300{
    width: 300px;
}

.section-mask{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.25;
}

.tour-section.hero-section .breadcrumb{
    z-index: 10;
    position: relative;
}

.tour-section.guide-section{
    /*background-color: #f7d049;*/
    /*background-color: #1ace84;*/
    background-color: #6587dd;
    color: white;
    height: auto;
}

.tour-section.guide-section .title{
    text-align: center;
    font-size: 44px;
    padding: 25px 15px;
    margin-bottom: 20px;
    color: white;
}

.tour-section.guide-section h3,
.tour-section.guide-section h4,
.tour-section.guide-section h5{
    color: white;
}

.tour-section.guide-section a,
.tour-section.guide-section a:hover{
    color: white;
}

.tour-section.hero-section .breadcrumb li.active{
    color: #e1e1e1!important;
}

.tour-program-items.guide-editing{
    padding: 10px;
}

.tour-section.hero-section{
    background-color: #f3f3f3;
}

.tour-section.hero-section .breadcrumb{
    font-size: 14px;
    font-weight: 700;
}

.tour-section.hero-section .breadcrumb a:hover,
.tour-section.hero-section .breadcrumb li.active{
    color: #31dc72;
}

.tour-section.hero-section .breadcrumb a{
    color: white;
}


.tour-section-new{
    background-color: white;
    min-height: 220px;
    color: #7E7E7E;
}

.tour-section-new.guide-section{
    padding: 100px 0;
}

.tour-section-new .guide-name,
.tour-section-new .guide-name a,
.tour-section-new .guide-name:hover{
    color: #EF4A16!important;
    font-size: 1.4em;
    position: relative;
}

.tour-section-new .guide-name .arrow-right{
    position: absolute;
    right: -15px;
    top: 10px;
    font-size: 18px;
}

.tour-section-divider{
    padding: 45px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 70px;
}

.tour-section-divider.orange{
    background-image: linear-gradient(-90deg, #C93A0D, #F1683D);
}

.tour-section-divider,
.tour-section-divider a,
.tour-section-divider a:hover{
    color: #E86035;
    text-decoration: none!important;
}

.tour-section-divider.orange,
.tour-section-divider.orange a,
.tour-section-divider.orange a:hover{
    color: white;
}

.tour-section-new .section-title{
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1;
}

.tour-section-new .section-subtitle{
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 15px;
    color: black;
}

.tour-section-new.images-section{
    padding-bottom: 30px;
}

.tour-section-new.tour-booking-form button,
.btn-orange{
    background-image: linear-gradient(-90deg, #C93A0D, #F1683D);
    border: 0;
}

.tour-section-new.tour-booking-form textarea,
.tour-section-new.tour-booking-form input{
    background-color: #F8F8F8;
}

.tour-section-new.tour-booking-form .tour-price{
    font-size: 1.2em;
    font-weight: 700;
    color: black;
    margin: 10px 0 20px 0;
}

.tour-section-new.tour-booking-form .tour-price .price-value{
    color: #EF4915;
}

.tour-section-new.program-section{
    padding: 20px 0 30px 0;
}

.tour-section-new.reviews-section .icon-list .fa{
    margin-right: 0;
    color: #36a230;
}

.tour-section-new.reviews-section .tourist-name{
    text-align: center;
    color: #EF4A16!important;
    font-size: 1.4em;
    margin-top: 5px;
}

.booking-item-review-person .guide-name{
    text-align: center;
    color: #EF4A16!important;
    font-size: 1.4em;
    margin-top: 5px;
}

.tour-section-new.pt0{
    padding-top: 0!important;
}

.tour-section-new.pb0{
    padding-bottom: 0!important;
}

.tour-section-new.life-in-pictures,
.tour-section-new.my-tours,
.tour-section-new.reviews-section,
.tour-section-new.booking-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.img-container-background {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    min-height: 240px;
}

.guide-tour-item{
    margin-bottom: 10px;
}

.guide-tour-item:before{
    content: '';
    position: absolute;
    background: white;
    width: 35px;
    height: 35px;
    z-index: 1;
    border-radius: 50%;
    top: -20px;
    left: 53%;
    margin-left: -25px;
}

.guide-tour-item:after{
    content: '';
    position: absolute;
    background: white;
    width: 35px;
    height: 35px;
    z-index: 1;
    border-radius: 50%;
    bottom: -19px;
    left: 53%;
    margin-left: -25px;
}

.guide-tour-item .tour-img-container,
.guide-tour-item .tour-info-container{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    height: 180px;
    overflow: auto;
}

.guide-tour-item .tour-img-container{
    position: absolute;
    height: 100%;
}

.guide-tour-item .tour-info-container{
    background: #EF4915;
    color: white;
    padding: 10px 5px 5px 20px;
    float: right;
}

.guide-tour-item .tour-info-container a,
.guide-tour-item .tour-info-container a:hover{
    background-color: #C6380B;
    border: none!important;
}

.guide-tour-item .tour-info-container .tour-name{
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.guide-tour-item .img-container-background{
    min-height: 160px;
    background-size: cover !important;
}

.panel-item .img-container{
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    min-height: 240px;
}

.panel-item .title{
    font-size: 1.2em;
    color: black;
    font-weight: 700;
}

.panel-item .content{
    padding: 30px;
}

.panel-item{
    -webkit-box-shadow: 7px 10px 5px 3px rgba(247,247,247,1);
    -moz-box-shadow: 7px 10px 5px 3px rgba(247,247,247,1);
    box-shadow: 7px 10px 5px 3px rgba(247,247,247,1);
}


.tour-details-text{
    font-size: 14px!important;
    margin-bottom: 10px;
    text-align: center;
}

.modal-tour-program-edit .modal-content{
    height: 600px;
    overflow-y: auto;
}

.btn-inlineform{
    margin-top: 26px;
}

.btn-forminline-22{
    margin-top: 22px;
}

.text-strike{
    text-decoration: line-through;
}

.text-with-discount{
    color: #000;
}

.tour-price .text-with-discount{
    color: white;
    margin-top: 15px;
}

.profile-container .actions-panel{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testtt{
    color: green;
}

.owl-carousel {
    margin: 0!important;
}

.owl-cap-title{
    border-top: none;
    border-bottom: none;
}

.top-area .text{
    font-size: 3em;
}

.mask-wrapper.show-only-image .bg-mask{
    -webkit-animation: ani 0.7s steps(70) forwards;
   animation: ani 0.7s steps(70) forwards;
}

.mask-wrapper.show-only-image .text, .mask-wrapper.show-only-image .owl-cap-title{
    display: none;
}


@-webkit-keyframes ani {
from {
  opacity: 0.5;
    background-position: 0 -700px;
  }
  to {
  opacity: 0;
    background-position: 0 0px;
  }
}

@keyframes ani {
from {
  opacity: 0.5;
    background-position: 0 -700px;
  }
  to {
  opacity: 0;
    background-position: 0 0px;
  }
}

.container-equal-items .panel{
    min-height: 500px;
}

.container-equal-items .panel img{
    height: 211px;
}

.container-equal-items .panel{
    position: relative;
    padding-bottom: 50px;
}

.container-equal-items .panel .panel-button{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
    height: 30px;
    margin-bottom: 10px;
}

a .panel-default, a .panel-default:hover, a .panel-default:focus{
    color: #565656;;
}

.top-area {
    max-height: 450px;
}

.top-area-home{
    max-height: 550px;
}

.homepage-hero .bg-img{
    background-color: white!important;
}

.homepage-hero .owl-cap-title{
    font-size: 5em;
}

.homepage-hero .text{
    /*color: #31dc72;*/
    color: white;
    line-height: 1;
}

.homepage-hero .bg-front{
    margin-top: 80px;
}

.homepage section{
    padding: 55px 30px;
}

.platform-description{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 100;
    margin-top: 0;
    background-color: whitesmoke;
}

.discount-box{
    /*background: #a3cfa3;*/
    /*color: white;*/
    background: #f5f5f5;
    color: black;
    padding: 20px 30px 30px 30px;
    border-radius: 15px;
    min-height: 190px;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.discount-box .item-title{
    color: #559b6f;
}

.discount-box .location{
    font-size: 18px;
}

.discount-box .tour-name{
    font-size: 25px;
}

.discount-box .normal-price,
.discount-box .promotion-price,
.discount-box .dates-available,
.discount-box .additional-description{
    line-height: 2;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.img-initial img{
    width: auto!important;
}

.general-info{
    font-size: 1.5em;
    font-weight: 700;
}

.panel img{
    width: 100%
}

.panel-guide img{
    width: auto;
}

.booking-item .booking-item-name{
    word-wrap: break-word;
}

.chat-container h3,
.chat-item h3{
    font-size: 1.4em;
}

.new-chat-message{
    white-space: pre-line;
}

.text-left{
    text-align: left!important;
}

.text-center{
    text-align: center!important;
}

.text-right{
    text-align: right!important;
}

.btn-orange{
    background-image: linear-gradient(-90deg, #C93A0D, #F1683D);
    border: 0;
    color: white!important;
}

.owl-nav{
    text-align: center;
}

.tour-program-item{
    margin-bottom: 3em;
}

/*.breadcumbs-container{*/
    /*background: #f3f3f3;*/
    /*min-height: 50px;*/
    /*text-align: center;*/
/*}*/

.hero-section .bg-img{
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
  background-size: cover!important;
  background-color: #464646;
}

.select2-selection--single {
    background-color: #fff!important;
    border: 1px solid #ccc!important;
    border-radius: 0!important;
}

.booking-title{
    line-height: 1.5;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width:1260px) {
    .booking-filters-container{
      z-index: 100;
      top: 182px;
      left: 1%;
      padding-left: 0;
    }

    .container-equal-items .panel {
        min-height: 550px;
    }
}

@media (max-width: 1200px){
    .left-menu-toggle-button{
        visibility: visible;
    }

    .booking-proposal-container{
        visibility: hidden;
    }

    .guide-action-container{
        visibility: visible;
    }

}

@media (max-width:992px) {

    .top-area{
        height: 450px;
    }

    .top-area p{
        font-size: 0.7em;
    }

    .booking-filters-container{
        z-index: 100;
        top: 240px;
        left: 0;
        border-radius: 0;
    }

    .tour-section.hero-section .title{
        font-size: 50px!important;
        line-height: 1!important;
        margin-bottom: 0!important;
    }

    .tour-section.hero-section .tour-description {
        font-size: 25px;
    }

    .tour-section.hero-section .title{
        margin-top: 120px;
        font-size: 1.8em!important;
    }
    .tour-section.hero-section .tour-description{
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    .tour-section-new .section-title {
        margin-bottom: 15px;
    }
}

@media (max-width:768px) {
    .top-area p{
        font-size: 0.55em;
    }

    .btn-inlineform{
        margin-top: 0;
    }

    .tour-program-item .img-container{
        min-height: 180px;
    }

   .booking-filters-container{
      top: 0;
      left: 0;
      border-radius: 0;
      visibility: visible;
   }

    .seacrch-results-container{
        min-height: 800px;
    }

    .tour-section.hero-section .title,
    .tour-section .title{
        font-size: 30px!important;
        line-height: 1!important;
        margin-bottom: 0!important;
    }

    .tour-section.hero-section .tour-description{
        font-size: 18px;
    }

    .tour-section {
        font-size: 16px!important;
        font-weight: 400!important;
    }

    .scheduled-tour .info-title{
        font-size: 16px!important;
        margin-bottom: 10px;
    }

    .scheduled-tour .tour-date,
    .scheduled-tour .available-seats{
        font-size: 14px!important;
    }

    .scheduled-tour .tour-price{
        font-size: 18px;
    }

    .tour-section.tour-reviews .owl-carousel {
        padding: 0;
    }

    .tour-section-new.guide-section {
        padding: 50px 0;
    }

    .guide-tour-item .img-container-background {
        min-height: 192px;
        width: 100%
    }

    .guide-tour-item .tour-info-container{
        width: 100%;
    }

    .guide-tour-item{
        margin-bottom: 20px;
    }

    .tour-section-new .section-title {
        font-size: 2em;
        margin-bottom: 15px;
    }

    .guide-tour-item::before{
        display: none;
    }

    .guide-tour-item::after {
        display: none;
    }

    .tour-section.hero-section {
        height: 50vh;
        min-height: 20vh !important;
        background: white!important;
    }
    .tour-section.hero-section .title{
        margin-top: 80px;
        font-size: 2.5em;
    }
    .tour-section.hero-section .tour-description{
        font-size: 2em;
        margin-bottom: 10px;
    }
    .tour-section-divider {
        margin-bottom: 0;
    }
    .tour-section-new.program-section {
        padding: 30px 0 30px 0;
    }
    .about-me{
        text-align: center!important;
    }
    .about-me .section-title{
        text-align: center!important;
        margin-top: 15px;
    }

    .about-me .about-me-content{
        text-align: left;
    }

    .container-equal-items .panel img {
        height: inherit;
        width: 100%;
    }
    .guide-tour-item .tour-img-container {
        position: relative;
    }
}