a {
    color: #7ca88d;
}

a:hover,
a:active{
    color: #31dc72;
}

.btn-primary {
    background: #31dc72;
    border-color: #169e49;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #4cb173;
    border-color: #169e49;
}

.btn-group-select-num > .btn.active, .btn-group-select-num > .btn.active:hover {
    background: #31dc72;
    border-color: #169e49;
}

.box-icon, [class^="box-icon-"], [class*=" box-icon-"] {
    background: #7ca88d;
}

.box-icon:hover,
[class^="box-icon-"]:hover,
[class*=" box-icon-"]:hover {
    background: #31dc72;
    color: #fff;
}

header#main-header {
    border-bottom: 2px solid #31dc72;
}

ul.slimmenu li.active > a, ul.slimmenu li:hover > a {
    background: #31dc72;
}

.search-tabs-bg > .tabbable > .nav-tabs > li.active > a {
    background: #169e49;
}

.search-tabs-bg > .tabbable > .nav-tabs > li > a:hover > .fa {
    background: #169e49;
}

.user-profile-sidebar .user-profile-nav > li.active > a,
.user-profile-sidebar .user-profile-nav > li.active > a:hover{
    background: #31dc72;
}

.user-profile-sidebar .user-profile-nav > li > a:hover > i {
  color: #31dc72;
}

.nav-drop > .nav-drop-menu > li > a:hover {
  background: #31dc72;
}

.irs-diapason {
    background-color: #31dc72;
}

.irs-slider {
    background-color: #169e49;
}

.booking-item-dates-change {
    border: 1px solid #169e49;
}

.booking-item-rating .booking-item-rating-stars {
    color: #169e49;
}

.booking-item.booking-item-small .booking-item-rating-stars {
    color: #169e49;
}

.booking-item-raiting-summary-list.stats-list-select > li .booking-item-rating-stars > li.selected {
    color: #169e49;
}

.i-check.checked, .i-radio.checked {
    border: 1px solid #169e49;
    background: #169e49;
}

.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #31dc72;
}

.post .post-header {
    border-bottom: 2px solid #31dc72;
}